.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
    width: 90%;
    max-width: 520px;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    border: 5px solid rgba(100,150, 238, .5);
    border-radius: 15px;
    padding: 28px 24px;
}

@media (min-width: 768px) {
    .dialog {
        top: 40px;
    }
}

.dialog__close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}




.dialog .jqx-fill-state-normal {
    border-color: rgba(0,0,0,.1);
    background: #f9f9f9;
}

.dialog  .jqx-widget-content {
    border-color: none;
    background: none;
}
.dialog h1 {
    color: dimgray;
}