<div class="mn-page-head-container">
  <form (ngSubmit)="submitUserForm()">
    <div class="header-main-container-ap">
      <button type="submit" [hidden]="hidesave">SAVE</button>
      <button type ="button" (click)="updateUser()" [hidden]="hideupdate">UPDATE</button>
      <span><b>Note-</b> Passwords must contain between 8 to 16, including special-case, uppercase, lowercase letters and numbers.</span>
    </div>
    <div class="content-section-main-container-ap">
      <div class="content-header-text-main-container">{{this.userLabel}}</div>
      <div class="fields-main-container-ap">
       
        <div class="conatiner_flex">
            <div>
                <label>User Id* :</label>
                <input type="text"  name="userid" id="userid"  [disabled] = "userUpdateDisable"  [(ngModel)]="searchUser.userid" value="{{searchUser.userid}}" (keyup)="enterValidate('userid')"/>
                <span class="error_message_role">{{useridError}}</span>
              </div>
           <div>
             <label>User Name* :</label>
             <input type="text" readonly   onfocus="this.removeAttribute('readonly')" [disabled]="globalElements" name="username" id="username" [(ngModel)]="searchUser.username" value="{{searchUser.username}}" (keyup)="enterValidate('username')"/>
             <span class="error_message_role">{{usernameError}}</span>
           </div>
           <div>
              <label>Password* :</label>
              <input type="password" readonly   onfocus="this.removeAttribute('readonly')" [disabled]="globalElements" value="{{searchUser.userpassword}}" name="password" id="userpassword" [(ngModel)]="searchUser.userpassword"  (keyup)="enterValidate('userpassword')"/>
              <i class="fa fa-eye" style="color: rgb(82, 86, 114);" (click) = "showHidePassword()" id="showHideEye"></i>
              <span class="error_message_role">{{userpassError}}</span>
           </div>
           <div>
              <label>Confirm Password* :</label>
              <input type="password" [disabled]="globalElements" name="confirmPassword" id ="confirmPassword" [(ngModel)]="searchUser.confirmPassword" (keyup) = "enterValidate('confirmPassword')">
              <span class="error_message_role">{{userconfPassError}}</span>
           </div>
          
            
            <div>
                <label>Email* :</label>
                <input type="email"  name="useremail" [disabled]="globalElements" id="useremail" [(ngModel)]="searchUser.useremail"  (keyup)="enterValidate('useremail')"/>
                <span class="error_message_role">{{useremailError}}</span>
            </div>
            <div style="margin-bottom:10px;">
              <label>Role* :</label>
              <div style="width: 250px;" class="multiple_role_select">
                <ng-select  
                            [multiple]="true"
                            [disabled]="globalElements"
                            name="userrole"
                            [items]="Roleslist"
                            placeholder="Select Role" [(ngModel)]="searchUser.userrole" (ngModelChange)="onChangeViews($event)">
                </ng-select>
              </div>
              <span class="error_message_role">{{userroleError}}</span>
            </div>

            <div>
              <label>Country* :</label>
              <!-- <select [disabled]="globalElements" [(ngModel)]="searchUser.usercountry" name="usercountry" style="height:31px;">
                  <option disabled value="">Please Select</option>
                <option *ngFor="let country of countryList" value={{country}}>{{country}}</option>
              </select> -->
              <div style="width: 280px;" class="multiple_role_select ng_available_view_cntnr">
                <ng-select     
                          [disabled]="globalElements"
                          name="usercountry"
                          [items]="countryList"
                          placeholder="Select Country" [(ngModel)]="searchUser.usercountry">
                </ng-select>
            </div>
            <span class="error_message_role">{{usercountryError}}</span>
          </div>
           
            <div>
              <label>Query Name* :</label>
              <div style="width: 280px;" class="multiple_role_select ng_available_view_cntnr">
                  <ng-select     
                            [disabled]="globalElements"
                            name="queryViewList"
                            [items]="queryNameList"
                            placeholder="Select Query Name" [(ngModel)]="queryViewList">
                  </ng-select>
              </div>
              <span class="error_message_role">{{userqueryError}}</span>
          </div>

        </div>
       
        <div class="conatiner_flex">
             
              <div>
                <label>BR User Id :</label>
                    <input type="text"  name="brUserID" id="brUserID" [disabled]="globalElements"  [(ngModel)]="searchUser.brUserID" value="{{searchUser.brUserID}}"/>
                    <div class="defult-view-cntr-user" style="top:-3px; margin-left:5px;">
                      <input type="checkbox" [disabled]="globalElements" id="brUserShow" [(ngModel)]="searchUser.brUserShow" name="brUserShow" value=""  (change)="brUserCall()">
                      <label for="brUserShow" style="min-width:0px;"></label>
                    </div>

                    <div class="error_message_role">{{brUseridError}}</div>
                  <!-- <div style="width: 250px;" class="multiple_role_select ng_available_view_cntnr">
                      <ng-select     
                                [disabled]="globalElements"
                                name="brUserID"
                                [items]="brNameList"
                                placeholder="Select BR User" [(ngModel)]="searchUser.brUserID" (ngModelChange)="brUserCallchange()">
                      </ng-select>
                  </div>
                  <div class="defult-view-cntr-user" style="top:-8px; margin-left:5px;">
                    <input style="width: 0px;" type="checkbox" [disabled]="globalElements" id="brUserShow" [(ngModel)]="searchUser.brUserShow" name="brUserShow" value=""  (change)="brUserCall()">
                    <label for="brUserShow" style="min-width:0px;"></label>
                  </div> -->
                
               </div>
              <div style="clear:both;" [hidden] ="hideDisableuserPasCreateDate" >
                  <label>Disable User:</label>
                  <div class="defult-view-cntr-user">
                      <input type="checkbox" [disabled]="globalElements" id="disableUser" [(ngModel)]="searchUser.disableUser" name="disableUser" value="" [checked]="disableStatus">
                      <label for="disableUser" ></label>
                  </div>
              </div>
              <div class="mydatecontainer" [hidden] ="hideDisableuserPasCreateDate">
                <label>Password Create Date :</label>
                <my-date-picker name="passwordcreatedate" [(ngModel)]="searchUser.passwordCreatedate"  placeholder="mm-dd-yyyy"
                                  [options]="myDatePickerOptions" [disabled]= "true">
                </my-date-picker>
              </div>
              <div style="clear:both;">
                  <label>Password Never Expires :</label>
                  <div class="defult-view-cntr-user">
                      <input style="width:0px !important;" type="checkbox" [disabled]="globalElements" id="passwordNeverExpire" [(ngModel)]="searchUser.passwordNeverExpire" name="passwordNeverExpire" value="" [checked]="checkboxStatus"  (change) = "passwordExpireEvent()">
                      <label for="passwordNeverExpire" style="min-width:0px !important;"></label>
                  </div>
                </div>
              
                <div class="mydatecontainer">
                    <label>Password Effective Date :</label>
                    <my-date-picker   [disabled]="PswdNvrExpreDisableFields"  name="passwordeffectivedate" [(ngModel)]="searchUser.passwordEffectivedate"  placeholder="mm-dd-yyyy"
                                       [options]="myDatePickerOptions">
                    </my-date-picker>
                </div>
                <div>
                    <label>Password Effective Days :</label>
                    <input type="text"  [disabled]="PswdNvrExpreDisableFields" [(ngModel)]="searchUser.passwordEffectivedays" name="passwordEffectivedays" />
                </div>
                <div>
                    <label>Password Notify Days :</label>
                    <input type="text" [disabled]="PswdNvrExpreDisableFields" [(ngModel)]="searchUser.passwordNotifydays" name="passwordNotifydays" />
                </div>
                <div class="mydatecontainer">
                  <label>Password Expire Date :</label>
                  <my-date-picker  [disabled]="PswdNvrExpreDisableFields" name="passwordExpiredate" [(ngModel)]="searchUser.passwordExpiredate"   placeholder="mm-dd-yyyy"
                                         [options]="myDatePickerOptions" >
                  </my-date-picker>
                </div>
          </div>

       </div>
      <div class="jqx-grid-main-container" *ngIf="showBrGrid">
          <jqxGrid #brUserProfileGrid class="jqxw-start"   [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
            [altrows]="true" [scrollmode]="'virtual'" [theme]='"white"'
            [width]="1030" [height] = "250">
          </jqxGrid>
      </div>
    </div>
 </form>  
</div>  