

.mn-page-head-container {
  padding: 0px 40px;
  width: 1300px;
}
.header-main-container-ap {
  margin-bottom: 20px;
  
}
.header-main-container-ap span {
 font-size: 13px;
 float:right;

}
.content-header-text-main-container {
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
}
.fields-main-container-ap {
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}
.fields-main-container-ap>div {
    margin-bottom:7px;
}
.fields-main-container-ap>div label {
    font-size: 14px;
    min-width: 250px;
    vertical-align: top;
    margin-top: 4px;
}
.fields-main-container-ap>div input,.fields-main-container-ap>div select {
    font-size: 14px;
    width: 250px;
}
.multiple_role_select {
 display: inline-block;
}
button {
    background-color: #f9f9f9;
    padding: 3px 10px;
    border: 1px solid #adadad;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 15px !important;
}
/**mydate css starts here **/
.mydp .selbtngroup {
    height: 27px !important;
}
/** mydate css ends here **/
/** default css starts here **/

.defult-view-cntr-user {
  position: relative;
  display: inline-block;
  margin-left: -4px;
}

.defult-view-cntr-user input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.defult-view-cntr-user label {
  position: relative;
  padding-left: 25px !important;
}
.defult-view-cntr-user label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid transparent;
  border-color: #aaa;
  background: #efefef;
}
.defult-view-cntr-user label:after {
  content: '';
  display: block;
  width: 12px;
  height: 5px;
  border-bottom: 1.5px solid #4f514f;
  border-left: 1.5px solid #4f514f;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 8px;
  left: 6.5px;
}
.defult-view-cntr-user input[type="checkbox"]:checked ~ label::before {
  color: #7bbe72;
}

.defult-view-cntr-user input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.defult-view-cntr-user label {
  min-height: 14px;
  display: block;
  padding-left:30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.defult-view-cntr-user input[type="checkbox"]:focus + label::before {
  outline: 0;
}
.defult-view-cntr-user span {
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle !important;
}

/** default css ends here **/
.error_message_role {
   color: red;
   margin-left: 10px;
   font-size: 12px;
   position: relative;
    top: 6px;
    vertical-align: top;
}
#showHideEye {
 cursor: pointer;
 margin-left: 5px;
}
.image_cont {
  /* position:absolute; */
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}
.image_cont img {
  width: 70px;
  position: fixed;
  left: 48%;
  top: 30%;
}
.conatiner_flex >div {
 margin-bottom:5px;
}
