

.mn-page-head-container {
    padding: 0px 40px;
    width: 800px;
  }
  .header-main-container-ap {
    margin-bottom: 20px;
    
  }
  .content-header-text-main-container {
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
  }
  .fields-main-container-ap>div {
      margin-bottom:5px;
  }
  .fields-main-container-ap>div label {
      font-size: 14px;
      min-width: 150px;
  }
  .fields-main-container-ap>div input,.fields-main-container-ap>div select {
      font-size: 14px;
      width: 250px;
  }
  .multiple_role_select {
   display: inline-block;
  }
  button {
      background-color: #f9f9f9;
      padding: 3px 10px;
      border: 1px solid #adadad;
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 15px !important;
  }