<div class="mn-page-head-container">
    <form #f="ngForm" novalidate> 
        <div class="header-main-container-ap">
            <button (click)="saveMatchCriteria();" class="btn btn-primary" [disabled]="_global.elementDisabled">Build</button>
            <a [routerLink]="nextUrl" id="nexturl" style="display: none">Click</a>
        </div>
        <div class="content-section-main-container-ap">
            <div class="fields-main-container-ap">
                <div class="inpt-flds-cmn-cntnr">
                    <label for="modelName">Model Name</label>
                    <input type="text"  name="modelName" [disabled]="_global.elementDisabled" [(ngModel)]="model.modelName" #modelName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modelName.invalid }" required/>
                    <div *ngIf="f.submitted && modelName.invalid" id="invalid-feedback" class="invalid-feedback">
                      <div style="color:red;">Model Name is required</div>
                    </div>
                </div>
                <div class="inpt-flds-cmn-cntnr">
                    <div class="form-group" style="display: none">
                        <label class="sep-two-columns">Field </label>
                        <label>Value</label>
                    </div>
                </div>
            </div>
            <div class="jqx-grid-main-container">
                <h4>Matching Criteria</h4>
                <jqxGrid #modelGrid [width]="450" [height]="205" [source]="dataAdapter" [columns]="columns" [showtoolbar]="true" [disabled]="_global.elementDisabled" [rendertoolbar]="rendertoolbar"
                   [columnsresize]="true" [editable]="true" (onCellendedit)="Cellunselect($event)">
                </jqxGrid>

            </div>  
        </div>

     </form> 
</div>
