.sidebar-container	{
    width:230px;
    background-color:rgba(50, 120, 215, .1);
    z-index:999;
    position:fixed;
    bottom:0px;
    top:58px;
    left:0px;
}
.slide-container {
    width:50px;
}
.sidebar-container ul{
    padding:0px;
    margin:0px;
}
.sidebar-container ul li  {
    width: 100%;
    border: 1px solid #d0caca;
    margin-bottom: 3px;
    background-color: #f7f7f7;

}
.sidebar-container ul li::first-letter {
    text-transform:uppercase;
}
.sidebar-container ul li a:hover {
    background-color: rgba(50, 120, 215, .3);
    color:white;
}
.sidebar-container ul li a i {
    color:#525672;
}

.sidebar-container ul li a {
    width: 100%;
    display: inline-block;
    padding: 6px 15px 8px 15px;
    text-decoration: none;
    color: #202122;
    font-size: 14px;
    cursor: pointer;
}
.sidebar-mn-ul .icon-dv a{
    width:80%;
    position: absolute;
    left: -3px;
    top: 1px;
}
.sidebar-mn-ul .icon-dv a:hover {
    background-color:transparent;
}
.bar-dash {
    display:inline-block;
    position:relative;
    background-color:#282a3c;
    transition: all .3s ease-out;
    cursor:pointer;
}
.slide-mode {
    margin-left: 4px;
}
.bar-dash:before {
    content: ' \279C';
    position: absolute;
    color: #5d5f77;
    top: -24px;
    margin-top: 9px;
    left: 100px;
    font-size: 16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown-icon {
    float:right;
}

.cmn-lft-drp-mn span:first-child {
    margin-right:10px;
}
.submenue-child ul {
    padding:unset !important;
    margin:unset !important;
    list-style:unset !important;
}
.submenue-child ul li a {
    color:#686c89;
    font-size: 13px;
    background-color: rgba(100,150, 238, .2);

}
.submenue-child ul li a:hover {
    background-color:rgba(50, 120, 215, .3);
    color:#686c89;
}
.submenue-child ul li {
    border:none;
    margin-bottom:0px;
    line-height:14px;
}
.submenue-child ul li a:before {
    content:'\2022';
    margin-right:15px;
    color:#686c89;
}
.icon-dv {
    background-color:#282a3c;
    position: relative;
    padding: 6px 15px 8px 15px;
}
.icon-dv a {
    padding: 14px 15px 10px !important;
}
.submenue-child {
    display:none;
    background-color: rgba(100,150, 238, .2);
    padding-left: 6px;
}
.slide-mode:before{
    content: ' \279C';
    left: -6px;
    transform: rotate(360deg);
}
.tb-vw-cmn-cls-new{
    display:none;
}
.submenue-child-new {
    display: block;
    position: absolute;
    box-sizing: border-box;
    left:59px;
    width: 200px;
    background-color: #2c2e3e;
    border-radius: -6px;
    margin-top: -51px;
}
.submenue-child-new:before {
    content: ' \25C0';
    position: absolute;
    top: 15px;
    left: -5px;
    transform: scale(2,4);
    display: inline-block;
    color: #2c2e3e;
}

.submenue-child-new ul {
    list-style:none !important;
}
.active {
    background-color:rgba(50, 120, 215, .3);
    color:white !important;
    color:white !important;

}
.licommonclass {
    border:1px solid #95107a !important;
}
.sidebar-container ul li:last-child {
    margin-bottom:0px;
}
.addcolorawe {
    color:white !important;
}
.angledowncss {
    transform: rotate(0deg) !important;
}

.su-sub-menue ul li a {
    padding: 6px 20px 8px 42px;
}
submenue-child ul li a:before {
    font-family: FontAwesome;
    content: '';
    margin-right: 15px;
    color: #686c89;
}
.fa.fa-lock {
    margin-left: -21px;
    margin-right: 15px;
}
.submenue-child ul li a:before {
    content: '';
}
.submenue-child ul li a .dropdown-icon {
    margin-right: 10px;
}
.prf-cmn-cntnr {
position:relative;
}
.prf-cmn-child-cntnr:before {
    content: ' \25C0';
    position: absolute;
    transform: scale(2,1) rotate(90deg);
    right: 13px;
    top: -13px;
    color: #dfdfdf;
}
.prf-cmn-cntnr .prf-cmn-child-cntnr {
    position: absolute;
    background-color: #dfdfdf;
    top: 46px;
    left:4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}
ul.prf-cmn-child-cntnr li {
    padding: unset;
    text-align: -webkit-center;
    margin-right: unset;
    display: block;
}
.prf-cmn-cntnr .prf-cmn-child-cntnr li a {
    display: block;
    padding: 5px 41px 8px 41px;
    font-size: 14px;
}
.prf-cmn-cntnr .prf-cmn-child-cntnr li {
    display:block;
}
.prf-cmn-child-cntnr {
    display:none;
}
.prf-cmn-cntnr:hover .prf-cmn-child-cntnr {
    display:block;
}
.su-sub-menue ul li a {
    padding: 6px 20px 8px 42px;
}
.su-sub-menue {
    display:none;
}
.submenue-child-psr-nw ul li {
 list-style-type: none;
}
