<div class="sidebar-container slide-container" *ngIf="isRoleAvailable == true && isLoggedIn$ | async as isLoggedIn">
    <nav>
        <ul class="sidebar-mn-ul">
            <li class="icon-dv">
                <span style="font-size: 16px; display: none;"><b>Dashboard</b></span>
                <span class="bar-dash slide-mode" (click)="sidebarExpColl()"></span>
            </li>
            <li>
                <a routerLink="/psr" (click)="setActiveClass('psr'); showChildMenu($event);" [ngClass]="{'active': linkClick == 'psr'}"
                    class="submenue cmn-lft-drp-mn hv-sub-menue">
                    <span><i class="fa fa-table"></i></span>
                    <span class="tb-vw-cmn-cls  tb-vw-cmn-cls-new">PSR</span>
                    <!-- <span class="dropdown-icon tb-vw-cmn-cls"><i class="fa fa-angle-left"></i></span> -->
                    <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-down"></i></span>
                </a>
                <div class="submenue-child">
                    <ul>

                        <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_VENDOR'"><a routerLink="/event/events"
                                (click)="setActiveClass('events')" [ngClass]="{'active': linkClick == 'events'}"><i
                                    class="fa fa-table"></i> Events Model</a></li>

                        <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_VENDOR'"><a routerLink="/event/eventcode"
                                (click)="setActiveClass('eventcode')" [ngClass]="{'active': linkClick == 'eventcode'}"><i
                                    class="fa fa-table"></i> Events Code</a></li>

                        <li [hidden]="roleName === 'PSR_VENDOR'">
                            <a routerLink="" (click)="showChildMenunew($event);" class="submenue cmn-lft-drp-mn  hv-sub-menue">
                                <span><i class="fa fa-file-pdf-o"></i></span>
                                <span class="tb-vw-cmn-cls  tb-vw-cmn-cls-new">PSR Reports</span>
                                <span class="dropdown-icon tb-vw-cmn-cls  tb-vw-cmn-cls-new"><i class="fa fa-angle-down"></i></span>
                            </a>
                            <div class="submenue-child-psr-nw" style="background-color: rgba(100,150, 238, .2);
                            padding-left: 6px; display:none;">
                                <ul>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/5')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> Power BI (MGF Associate)</a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/1')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> PSR Critical Days </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/2')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> ANF WIP </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/8')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> EFI SWT WIP </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/3')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> EXP PSR </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/7')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> EXP SWT PSR </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/6')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> FAS WIP </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/13')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> JCW WOV WIP </a></li>   
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/4')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> NYCO WIP </a></li>
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/10')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> TLB KNT WIP </a></li>        
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/11')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> TLB WOV WIP </a></li>        
                                    <li [hidden]="roleName === 'PSR_VENDOR'"><a 
                                            (click)="onReport('events','/psr-report/9')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                                class="fa fa-file-pdf-o"></i> TOR WIP </a></li>                                    
                                </ul>
                            </div>
                        </li>
                        <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY'"><a 
                            (click)="onReport('events','/psr-report/12')" [ngClass]="{'active': linkClick == 'psr-report'}"><i
                                class="fa fa-file-pdf-o"></i> Power BI (Vendor)</a></li>                       
                    </ul>
                </div>
            </li>
            <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_ADMIN'  || roleName === 'PSR_VENDOR'">
                <a href="javascript:;void(0)" (click)="setActiveClass('admin'); showChildMenu($event);" [ngClass]="{'active': linkClick == 'admin'}"
                    class="cmn-lft-drp-mn">
                    <span><i class="fa fa-user"></i></span>
                    <span class="tb-vw-cmn-cls tb-vw-cmn-cls-new">Admin</span>
                    <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-down"></i></span>
                </a>
                <div class="submenue-child">
                    <ul>
                        <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_VENDOR'">
                            <a routerLink="/security" (click)="setActiveClass('security')" [ngClass]="{'active': linkClick == 'admin'}">
                                <span class="tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-lock"></i>Security</span>
                                <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-down"></i></span>
                            </a>
                            <div class="su-sub-menue">
                                <ul>
                                    <li><a routerLink="/security-policy" (click)="setActiveClass('security-policy')"
                                            [ngClass]="{'active': linkClick == 'security-policy'}"><i class="fa fa-lock"></i>Security
                                            Policy</a></li>
                                    <li><a routerLink="/security-role-profile" (click)="setActiveClass('security-role-profile')"
                                            [ngClass]="{'active': linkClick == 'security-role-profile'}"><i class="fa fa-lock"></i>Security
                                            Role Policy</a></li>
                                    <li><a routerLink="/navigation-bar-setup" (click)="setActiveClass('navigation-bar-setup')"
                                            [ngClass]="{'active': linkClick == 'navigation-bar-setup'}"><i class="fa fa-lock"></i>Navigation
                                            Bar Setup</a></li>
                                </ul>
                            </div>

                        </li>
                        <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_ADMIN' || roleName === 'PSR_VENDOR'">
                            <a routerLink="/application-module" (click)="setActiveClass('application-module')"
                                [ngClass]="{'active': linkClick == 'application-module'}" style="padding: 6px 0"> <span
                                    style="margin-right: 10px;"><i class="fa fa-mobile"></i></span>Application Module</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_ADMIN' || roleName === 'PSR_VENDOR'">
                <a routerLink="/configure-app" (click)="setActiveClass('configure-app');" [ngClass]="{'active': linkClick == 'configure-app'}"
                    class="cmn-lft-drp-mn">
                    <span><i class="fa fa-gear"></i></span>
                    <span class="tb-vw-cmn-cls tb-vw-cmn-cls-new">Configure App</span>
                    <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-left"></i></span>
                </a>
            </li> -->
            <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_ADMIN' || roleName === 'PSR_VENDOR'">
                <a routerLink="/user/user-profile" (click)="setActiveClass('user-profile');" [ngClass]="{'active': linkClick == 'user-profile'}"
                    class="cmn-lft-drp-mn">
                    <span><i class="fa fa-user"></i></span>
                    <span class="tb-vw-cmn-cls tb-vw-cmn-cls-new">User Profile</span>
                    <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-left"></i></span>
                </a>
            </li>
            <li [hidden]="roleName === 'PSR_USER' || roleName === 'PSR_READONLY' || roleName === 'PSR_ADMIN' || roleName === 'PSR_VENDOR'">
                    <a routerLink="/user/role-profile" (click)="setActiveClass('role-profile');" [ngClass]="{'active': linkClick == 'role-profile'}"
                        class="cmn-lft-drp-mn">
                        <span><i class="fa fa-user"></i></span>
                        <span class="tb-vw-cmn-cls tb-vw-cmn-cls-new">Role Profile</span>
                        <span class="dropdown-icon tb-vw-cmn-cls tb-vw-cmn-cls-new"><i class="fa fa-angle-left"></i></span>
                    </a>
            </li>
        </ul>
    </nav>
</div>