@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"); */


.content-heading {
    text-align: center;
}

.margin-from-left {
    margin-left: 30px;
}

.listbox-heading {
    font-weight: 600;
}
.search-results {
    height: 100%;
  }
  

/**search bar css starts here **/

.srch-br-cntnr {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 10px;
}

.srch-flds-mn-cntnr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-cntnr-srch-flds {
    text-align: center;
    margin-top: -40px
}

.srch-tp-bar-mn-cntnr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.hid-show-srch-bar-brdr {
    border: 1px solid #d4d4d4;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    background-image: none;
}

.hid-show-srch-bar-brdr span i {
    margin-right: 5px;
}

 select.soflow-color-src {
    /* -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
     background-image: url(./images/sort-down.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-size: 9px;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #adadad;
    color: #555;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30px; */
     height:19px !important;
} 

select.soflow-color-src {
    color: #131313;
    background-image: url(./images/sort-down.png), -webkit-linear-gradient(#f9f9f9, #f9f9f9 40%, #f9f9f9);
    background-color: #f9f9f9;
    padding-left: 5px;
}
.margin-top-fifty {
  margin-top: 50px;
}
.shw-hide-dv {
 font-size: 13px;
 font-weight: 600;
}

.btn-cntnr-srch-flds button {
    background-color: #f9f9f9;
    padding: 3px 10px;
    border: 1px solid #adadad;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
}

.btn-cntnr-srch-flds button:last-child {
    margin-right: 0px;
}

.cmn-cls-input-fld-srch {
    font-size: 14px;
    width: 124px;
    padding: 2px 5px;
}

.inpt-flds-sb-cntnr span:first-child {
    font-size: 12px;
    margin-right: 7px;
}

.mr-right-cmn-cls {
    margin-left: 8px;
}

.rt-cd-static {
    margin-right: 13px !important;
}

.input-flds-sub-chld {
    margin-top: 15px;
}


/**side bar container ends here **/


/**search bar css starts here **/

.inpt-flds-cmn-cntnr {
    margin-top: 15px;
    width: 100%;
}

.inpt-flds-cmn-cntnr .inpt-flds-sb-cntnr:nth-child(3n) {
    margin-right: 0px;
    float: none;
    padding-right: 0px;
}

.btn-cntnr-srch-flds {
    text-align: center;
}

.srch-tp-bar-mn-cntnr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hid-show-srch-bar-brdr {
    border: 1px solid #d4d4d4;
    padding: 5px;
    background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(#f7f7f7, #e7e7e7 80%, #f7f7f7);
}

.hid-show-srch-bar-brdr span i {
    margin-right: 5px;
}

select.soflow-color-src {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(./images/sort-down.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-size: 9px;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #adadad;
    color: #555;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

select.soflow-color-src {
    color: #070707;
    background-image: url(./images/sort-down.png), -webkit-linear-gradient(#ffffff, #ffffff 40%, #ffffff);
    background-color: #ffffff;
    padding-left: 5px;
}



.btn-cntnr-srch-flds button:last-child {
    margin-right: 0px;
}

.cmn-cls-input-fld-srch {
    font-size: 14px;
    width: 193px;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.inpt-flds-sb-cntnr span:first-child {
    font-size: 12px;
    margin-right: 1px;
}

.inpt-flds-sb-cntnr span:last-child {
    margin-right: 10px;
}


.inpt-flds-sb-cntnr span:nth-child(3) {
    float: right;
}

.rt-cd-static {
    margin-right: 0px !important;
    font-size: 12px;
}

.inpt-flds-sb-cntnr {
    display: inline-block;
}


/**side bar container ends here **/

.btn-cntnr-srch-flds button {
    border-radius: 15px;
}

.footer {
    position: absolute;
}

input[type="file"] {
    color: transparent;
}

table,
th,
td {
    padding: 5px;
    font-size: 14px;
}

span.rt-cd-static .soflow-color-src {
    width: auto;
}


button:disabled {
    color: lightgray;
    cursor: text !important;
}

.invalid-feedback {
    color: red;
    display: none;
}
.milestone-dropdown {
    height: 18px;
    width: 150px !important;
}

/* The container */
.container {
    display: initial;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    font-size: 12px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}
#page-number-list {
    height: 30px;
}
#ndcdate, #vpoNltGacDate, vpoFtyGacDate {
   /* width:179px; */
}

.mat-expansion-panel-body {
    padding: 0 !important;
}
.search-row {
    /* width:96.70%; */
    display: flex;
    justify-content: space-between;
    margin-bottom:2px;
}
.search-row:last-child {
    right: 0;
    float: right;
}
/* .search-col {
    display: inline-block; 
     width:33%; 
} */
.search-col span {
    font-size: 12px;
    padding-right: 5px;
    display: inline-block;
    width:100px;
}

.search-col select {
    line-height: 12px;
    margin-right: 2px;
    font-size: 10px;
}

.search-col input {
   
    font-size: 10px;
    width: 160px;
    height: 15px !important;
}

/* CHG0016311 Rupan Start */
.e-control-wrapper.e-custom-style.e-date-range-wrapper.e-input-group {
    height: 25px;
    width: 165px;
    font-size: 10px;
}
/* CHG0016311 Rupan End */

#ndcdate, #vpoNltGacDate, #vpoFtyGacDate {
    position: relative;
    top: 6px;
}
.mydp {
    border-radius: 0 !important;
}

.container {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 28px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.panel {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
  
}
.change-track-show-hide {
  padding: 0px !important;
  margin-bottom: 10px !important;
}
.panel:hover {
    background-color: rgba(50, 120, 215, .1);
}

.defult-view-cntr {
    float: right;
    margin-left: 15px;
}


.defult-view-cntr {
    position: relative;
    display: block;
}

.defult-view-cntr input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.defult-view-cntr label {
    position: relative;
    padding-left: 25px !important;
}
.defult-view-cntr label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: #aaa;
    background: #efefef;
}
.defult-view-cntr label:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    /* border-bottom: 1.5px solid #4f514f;
    border-left: 1.5px solid #4f514f; */
    /* -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0); */
    position: absolute;
    top: 5px;
    left: 5.5px;
    background: transparent url(./images/check_black.png) center center no-repeat;
    border: none;
    outline: none;
    transform:rotate(-45deg) scale(0);
}
.defult-view-cntr input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.defult-view-cntr input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}

.defult-view-cntr label {
    min-height: 34px;
    display: block;
    padding-left:30px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.defult-view-cntr input[type="checkbox"]:focus + label::before {
    outline: 0;
}
.defult-view-cntr span {
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle !important;
}
.fnt-wght-sx {
 font-weight: 600;
}
#queryName {
    height: 22px;
    font-size: 13px;
    margin-left: -3px;
}
.fill-up-down-psr {
    margin: 4px 0px;
    float: right;
    font-size: 11px;
    font-weight: 700;
}
.fill-up-down-psr span:first-child {
    margin-right:6px;
    padding-right: 6px;
    border-right: 2px solid grey;
}
.fill-up-down-psr span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    font-size: 12px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    z-index: 500;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .dropdown-content a:hover {background-color: #ddd; color: red;}
  
  .dropdown:hover .dropdown-content {display: block;}

  
/** table css starts here **/
.inspopSec_mn_cntr table {
    width: 100% !important;
    font-size: 12.5px;
    text-align: center;
}
.inspopSec_mn_cntr table th {
    background-color: #a0a0a0;
    padding: 12px;
    font-size: 15px;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    border-right: 2px solid white;
}
.inspopSec_mn_cntr_table {
    background: #f8f8f8;
    padding:0px !important;
    overflow-y: scroll;
    max-height: 400px;
}
table.table.table-bordered td {
    padding: 8px 0px;
}
table.table.table-bordered tr:nth-child(even) {
    background-color:#e8e8e8;
}
.table.table.table-bordered th {
    background-color: #a0a0a0;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
}
  
.radioButtonHolder {
    display: flex;
}
.radioButtonHolder>div:first-child {
    margin-right: 20px;
    font-weight: bold;
}
.radioButtonHolder>div:nth-child(2) {
    margin-right: 15px;
}

.radioButtonHolder>div:nth-child(3) {
    margin-right: 15px;
}

.radioButtonHolder input {
    margin-right: 5px;
    transform: scale(1.3);
    cursor: pointer;
}

.smartTagMainDiv >div {
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e0e0;
    margin-bottom: 10px;
}

.smartTagMainDiv >div:last-child {
    padding-bottom: 10px;
    border-bottom: none;
    margin-bottom: 0px;
}

.smartTagMainDiv >div tr td:first-child {
    font-size: 13px;
}

.smartTagMainDiv input {
    color: black;
}

.smartTagMainDiv h5 {
    margin-bottom: 5px;
    font-size: 13.8px;
}
.grd_cntr_mcc {
    position: relative;
}
.grd_cntr_mcc>div:first-child {
    position: absolute;
    z-index: 998;
    top: 11px;
    left: 1px;
}

.showHideInputBox input {
    width: 77%;
}

.showHideInputBox {
    text-align: left;
}

.showHideButtons {
    margin: 10px 0px;
    float: right;
    margin-right: 6%;
    text-align: left;
}
