<!--Static PSR-->
<app-dialog [(visible)]="showDialog" class="absolPopup">

    <h3>Show Hide Column</h3>

    <div class="radioButtonHolder">
        <div>Status</div>

        <div *ngFor="let statusValue of listBoxStatus; let i=index">

            <span>
                <input type="radio" [(ngModel)] = "status" name = "checkStatus" [value]="statusValue" (change)="changeListStatus(statusValue)">
                <label>{{statusValue}}</label>
            </span>


        </div> 
    </div>
    <div class="jq-listbox-parent">
        <div class="margin-from-left margin-top-fifty">
            <jqxListBox #psrCheckBox style="float: left; display: inline-flex; margin-bottom: 30px;"
                (onCheckChange)="psrGridBoxOnCheckChange($event)" [width]="400" [height]="350" [source]="listBoxSource"
                [checkboxes]="true" (onBindingComplete)="BindingComplete($event)" [enableHover]="true"
                [filterable]="true" [allowDrop]="true" [allowDrag]="true" (onDragEnd)="dragEnd($event)">
            </jqxListBox>

        </div>
        
        <div class="btn-cntnr-srch-flds cmn-mrt-clas">
            <form #checkboxForm="ngForm" (ngSubmit)="checkboxlist()">
                <div style="clear:both;">
                    <div [hidden]="roleName === 'PSR_VENDOR' || roleName === 'PTL_ADMIN' || roleName === 'PSR_USER' || roleName === 'PSR_READONLY'">
                        <div class="defult-view-cntr" style="float:left; margin-bottom: 10px;">
                            <input type="checkbox" [checked]="checkedvalue" id="checkboxValue" name="checkboxValue"
                                [(ngModel)]="query.checkboxValue" />
                            <label for="checkboxValue"
                                style="min-height: 24px;line-height: 25px;font-size: 13px;font-weight: 700;">Public View
                            </label>
                        </div>
                    </div>
                    <div style="clear:both;" class="showHideInputBox">
                        <span class="listbox-heading" style="font-size:13px; margin-right:5px;">View Name:</span>
                        <input type="text" id="queryName" name="queryName" type="text" [(ngModel)]="query.queryName"
                            #queryName="ngModel"
                            [ngClass]="{ 'is-invalid': checkboxForm.submitted && queryName.invalid }" required/>
                       
                    </div>
                    <div class="showHideButtons">
                        <button type="button" (click)=checkboxlist() [disabled]="_global.elementDisabled">Save
                            As</button>
                        <button type="button" (click)=updateAvailableView()
                            [disabled]="hideUpdateDelete">Update</button>
                        <button type="button" (click)=deleteAvailableView()
                            [disabled]="hideUpdateDelete">Delete</button>

                    </div>
                    <div style="text-align: left;margin-left: 10px;font-size: small;margin-top: 8px; clear: both;">
                        <span style="color: #15849d;"><i class="fa fa-info-circle"></i></span> Select the checkbox to
                        hide the column.
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-dialog>

<!-- Change Track Starts-->
<app-dialog class="popup" [(visible)]="showPopup">
    <h3 style="margin-bottom: 15px;">Change Track</h3>
    <div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
      *ngIf="showPopup"
      >
    <div style="width: 100%; margin-bottom: 55px;font-size:14px;height: 30px;
    line-height: 20px;" class="ng_available_view_cntnr">
        <span style="margin-right: 10px;">Search</span>
        <input type="text" style="height : 25px;margin-right: 20px;width:145px;border: 1px solid #adadad;" [(ngModel)]="searchKeyword" />
        <span>Since</span>
        <ng-select [allowClear]="true" [items]="sinceValues" placeholder="--Select--" id="dropdown"
            [(ngModel)]="since" style="display: inline-block; margin-right: 20px;margin-left: 10px; width: 15%;height: 20px;" (selected)="showDateFilter($event)">
        </ng-select>
        <div *ngIf="showDate" style="display: inline-block;margin-right: 10px;">
            <span style="margin-right: 10px;">From Date</span>
            <my-date-picker  [(ngModel)]="fromDate"
                                    [disabled]="_global.elementDisabled" placeholder="mm-dd-yyyy"
                                     [options]="changeTrackDatePickerOptions" style="margin-right: 10px;width:105px">
                                </my-date-picker>
            <span style="margin-right: 10px;">To Date</span>
            <my-date-picker  [(ngModel)]="toDate"
                                    [disabled]="_global.elementDisabled" placeholder="mm-dd-yyyy"
                                    [options]="changeTrackDatePickerOptions">
                                </my-date-picker>

        </div>
        <div style="    width: 100%;margin: 10px;margin-left: 42%;margin-top: 20px;">
            <button (click)="resetSearchFilter()" style="cursor: pointer;background-color: #f9f9f9;font-weight: 600;display: inline-block;font-size:11px;border: 1px solid #adadad;border-radius: 20px;margin-right: 10px;">Reset</button>
            <button (click)="changeTracking('Search')" style="cursor: pointer;background-color: #f9f9f9;font-weight: 600;display: inline-block;font-size:11px;border: 1px solid #adadad;border-radius: 20px;">Search</button>
        </div>
    </div>
    <p *ngIf="fileChangeTrackFinalList.length==0">No records found!</p>
    <mat-expansion-panel class="panel change-track-show-hide"
        *ngFor="let changeTrack of fileChangeTrackFinalList " [expanded]="panelOpenState">
        <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
            PSR Grid modified on "{{changeTrack[0]}}"
        </mat-expansion-panel-header>
        <!-- <div class="mat-content" *ngFor="let track of changeTrack.value"> -->
        <!-- <div class="mat-content" >For Owner MGF, VPO # "{{track.vpo}}"</div> -->
        <table *ngFor="let track of changeTrack[1]">
            <tr>
                <td class="mat-content">For Owner MGF, <b>&nbsp;&nbsp; VPO # &nbsp;&nbsp;</b> "{{track.vpo}}", &nbsp;&nbsp;&nbsp;&nbsp;<b>PSR ORDER ID</b> &nbsp;&nbsp; "{{track.psrOrder}}"<br />
                    "{{track.modifiedBy}}"@Time
                    "{{track.hrWithMins}} {{track.timeFormate}}" <br /> "{{track.field}}"&nbsp;&nbsp;From &nbsp;
                    "{{track.before!='NULL'?(track.before.length>50)?(track.before | slice:0:50)+'  ...':(track.before):' '}}" &nbsp;To&nbsp; "{{track.after!='NULL'?(track.after.length>50)?(track.after | slice:0:50)+'  ...':(track.after):' '}}"
                </td>
            </tr>
        </table>
        <!-- </div> -->
    </mat-expansion-panel>
    </div>
</app-dialog>

<!--  file tracking starts-->

<app-dialog class="popup" [(visible)]="showFileTrackPopup">
    <h3 style="margin-bottom: 15px;">File Track</h3>
    <div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
      *ngIf="showFileTrackPopup"
      >
      <div style="width: 100%; margin-bottom: 55px;font-size:14px;height: 30px;
    line-height: 20px;" class="ng_available_view_cntnr">
        <span>Since</span>
        <ng-select [allowClear]="true" [items]="sinceValues" placeholder="--Select--" id="dropdown"
            [(ngModel)]="since" style="display: inline-block; margin-right: 20px;margin-left: 10px; width: 15%;height: 20px;" (selected)="showDateFilter($event)">
        </ng-select>
        <div *ngIf="showDate" style="display: inline-block;margin-right: 10px;">
            <span style="margin-right: 10px;">From Date</span>
            <my-date-picker  [(ngModel)]="fromDate"
                                    [disabled]="_global.elementDisabled" placeholder="mm-dd-yyyy"
                                     [options]="changeTrackDatePickerOptions" style="margin-right: 10px;width:105px">
                                </my-date-picker>
            <span style="margin-right: 10px;">To Date</span>
            <my-date-picker  [(ngModel)]="toDate"
                                    [disabled]="_global.elementDisabled" placeholder="mm-dd-yyyy"
                                    [options]="changeTrackDatePickerOptions">
                                </my-date-picker>

        </div>
        <div style="    width: 100%;margin: 10px;margin-left: 42%;margin-top: 20px;">
            <button (click)="resetSearchFilter()" style="cursor: pointer;background-color: #f9f9f9;font-weight: 600;display: inline-block;font-size:11px;border: 1px solid #adadad;border-radius: 20px;margin-right: 10px;">Reset</button>
            <button (click)="fileTrack('search')" style="cursor: pointer;background-color: #f9f9f9;font-weight: 600;display: inline-block;font-size:11px;border: 1px solid #adadad;border-radius: 20px;">Search</button>
        </div>
    </div>
    <p *ngIf="fileChangeTrackFinalList.length==0">No records found!</p>
    <mat-expansion-panel class="panel change-track-show-hide" *ngFor="let fileTrack of fileChangeTrackFinalList "
        [expanded]="panelOpenState">
        <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
            Filename is "{{fileTrack[0]}}"
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td class="mat-content">For Owner MGF, <span
                        [hidden]="roleName === 'PSR_VENDOR'||roleName === 'PTL_USER'|| roleName === 'PSR_USER' || roleName === 'PSR_READONLY'"><b>&nbsp;&nbsp;User&nbsp;:&nbsp;
                            {{userId}} &nbsp;</b>
                    </span>
                </td>
            </tr>
            <div *ngFor="let track of fileTrack[1]">
                <tr *ngIf="track.desc=='Downloaded'">
                    <td>Export by "{{track.userId}}"</td>
                    <td> : Start Time @{{track.startTimeStr}} </td> , <td> End Time @{{track.endTimeStr}}</td>
                </tr>
                <tr *ngIf="track.desc=='Uploaded'">
                    <td>Import by "{{track.userId}}"</td>
                    <td> : Start Time @{{track.startTimeStr}} </td> , <td> End Time @{{track.endTimeStr}}</td>
                </tr>
            </div>
        </table>
        <!-- </div> -->
    </mat-expansion-panel>
    </div>

</app-dialog>
<!-- file tracking ends-->

<!--  file upload starts-->

<app-dialog class="popup" [(visible)]="showUploadPopup">
    <h3 style="margin-bottom: 15px;">Import to PSR</h3>
    <span class="btn-cntnr-srch-flds">
        <input style="display: none;" #fileInput id="inputFile" type="file" (change)="selectFile($event)"
            accept=".xlsm" />
        <button (click)="callInput()">Choose File</button> <span *ngIf="fileName!=''"
            style="margin-right:5px;">{{fileName}}</span>
        <button (click)="upload()" [disabled]="fileName=='' || onUpload">Upload Excel</button>
    </span>
</app-dialog>
<!-- file upload ends-->

<div class="srch-br-cntnr">
    <div class="srch-tp-bar-mn-cntnr">
        <div class="inpt-flds-sb-cntnr">
            <!-- <span class="rt-cd-static">
                    <label class="container">Update Grid
                        <input type="checkbox" [(ngModel)]="chnageGridValue" (change)="changeGrid()" style="display: none">
                        <span class="checkmark"></span>
                </label>
                </span> -->
            <div style="width: 270px; display: inline-block;" class="ng_available_view_cntnr">
                <ng-select [allowClear]="true" [items]="availableViews"
                    (selected)="onChangeViews($event.text,'change_view')" placeholder="Available Views" id="dropdown"
                    [(ngModel)]="publicviewdropdown">
                </ng-select>

            </div>
            <!-- <span class="rt-cd-static fnt-wght-sx">Available Views:&nbsp; </span> -->
            <!-- <select class="soflow-color-src"  [disabled]="_global.elementDisabled">
                    <option disabled>Please Select</option>
                    <option *ngFor="let availableView of availableViews" value={{availableView}}>
                        {{availableView}}
                    </option>
                </select> -->
            <div class="defult-view-cntr">
                <input type="checkbox" id="default-view" name="default-view" value="" [checked]="false"
                    (change)="changeDefaultView()" [disabled]="_global.elementDisabled">
                <label for="default-view"><span>Default View</span></label>
            </div>
        </div>

        <button id="btnPsrWidth" (click)="changeWidth3()" style="display: none"></button>
        <div>
            <span class="btn-cntnr-srch-flds">
                <!--<div  class="defult-view-cntr"><input type="checkbox" /> <span>Default View</span></div> -->
                <!-- <button (click)="showSavedSearch = !showSavedSearch" (click)="showHideBox()"
                    [disabled]="_global.elementDisabled">Saved Searches</button> -->
                <button (click)="loadSearch()" [disabled]="_global.elementDisabled" 
                            id="save-search-from">Saved Search</button>
                <button (click)="acknowledgement()" [hidden]="roleName === 'PSR_VENDOR' || roleName === 'PSR_READONLY'"
                    [disabled]="_global.elementDisabled">Acknowledgement</button>
                <button (click)="autoResize()" [disabled]="_global.elementDisabled">Auto Resize Columns</button>
                <button (click)="doSave()" [hidden]="roleName === 'PSR_READONLY'" [disabled]="_global.elementDisabled" id="save-changes-psr">Save
                    Changes</button>
                <div class="dropdown">
                    <button class="dropbtn,btn-disabled" [disabled]="_global.elementDisabled">Excel Operation</button>
                    <div class="dropdown-content">
                        <a (click)="downloadXlsm()">Export to Excel</a>
                        <a (click)="showFileUpload()" [hidden]="roleName === 'PSR_READONLY'">Import to PSR</a>
                        <a (click)="fileTrack('fileTrack'
                        )" style="border:0;">File Track</a>
                    </div>
                </div>
                <button (click)="doRecalc()" [hidden]="roleName === 'PSR_READONLY'" [disabled]="_global.elementDisabled" class="btn-disabled">Re-Calc
                    &nbsp;</button>
                <button (click)="generateXml()" [hidden]="roleName === 'PSR_VENDOR' || roleName === 'PSR_READONLY'" disabled
                    [disabled]="_global.elementDisabled" class="btn-disabled">Post to BR</button>
                <button (click)="showDialog = !showDialog" (click)="showHideBox()"
                    [disabled]="_global.elementDisabled">Show Hide Column</button>
                <button (click)="changeTracking('changeTrack')" [disabled]="_global.elementDisabled">Change Tracking</button>
                <button (click)="doFullWidth()" id="doFullWidth" style="display:none;"></button>
            </span>



        </div>

    </div>
    <mat-expansion-panel class="staticpsr-mat-exp" [expanded]="panelOpenState">
        <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">Search Fields
        </mat-expansion-panel-header>
        <form #searchForm="ngForm" (ngSubmit)="onFormSubmit(1)">

            <!-- {{ searchForm.value | json }} --{{ searchFormModel | json }} -->
            <div style="padding:6px 0px;">
                <ng-template matExpansionPanelContent>


                    <div id="searchFieldDivCont">
                        <div class="search-row">
                            <div class="search-col">

                                <span>VPO #</span>
                                <select class="soflow-color-src" name="vposelect" id="vpoSelect"
                                    [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.vpoSelect"
                                    style="height : 18px;" (change)="onChange('vpo')">

                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="vpo" id="vpo"
                                    (change)="setFilterValue($event)" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vpo" (keydown)="onKeyDown($event)" />

                            </div>
                            <div class="search-col">
                                <span>Vendor Id</span>
                                <select name="vendorIdSelect" id="vendorIdSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vendorIdSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('vendorId')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="vendorId"
                                    [disabled]="_global.elementDisabled" id="vendorId" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.vendorId" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Order Commit #</span>
                                <select name="ocCommitSelect" id="ocCommitSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.ocCommitSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('ocCommit')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="ocCommit"
                                    [disabled]="_global.elementDisabled" id="ocCommit" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.ocCommit" (keydown)="onKeyDown($event)" />
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="search-col">
                                <span>Factory ID</span>
                                <select name="factoryidselect" id="factoryIdSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.factoryIdSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('factoryId')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="factoryId" id="factoryId" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.factoryId" (keydown)="onKeyDown($event)" />

                            </div>
                            <div class="search-col">
                                <span>Factory Name</span>
                                <select name="factorynameselect" id="factoryNameSelect"
                                    [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.factoryNameSelect"
                                    style="height : 18px;" class="soflow-color-src" (change)="onChange('factoryName')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="factoryName" id="factoryName" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.factoryName" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Brand</span>
                                <select name="brandselect" id="brandSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.brandSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('brand')">

                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="brand"
                                    [disabled]="_global.elementDisabled" id="brand" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.brand" (keydown)="onKeyDown($event)" />
                            </div>
                        </div>
                        <div class="search-row">
                            <div class="search-col">

                                <span>Style #</span>
                                <select name="styleselect" id="styleSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.styleSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('style')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="style"
                                    [disabled]="_global.elementDisabled" id="style" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.style" (keydown)="onKeyDown($event)" />

                            </div>
                            <div class="search-col">
                                <span>Style Description</span>
                                <select name="styledescselect" id="styleDescSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.styleDescSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('styleDescription')">

                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="styleDescription"
                                    [disabled]="_global.elementDisabled" id="styleDescription"
                                    (change)="setFilterValue($event)" [(ngModel)]="searchFormModel.styleDescription"
                                    (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Production Office</span>
                                <select name="prodofficeselect" id="prodOfficeSelect"
                                    [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.prodOfficeSelect"
                                    style="height : 18px;" class="soflow-color-src"
                                    (change)="onChange('productionOffice')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="productionOffice" id="productionOffice" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.productionOffice" (keydown)="onKeyDown($event)" />
                            </div>
                        </div>
                        <div class="search-row" style="margin-bottom:0px !important;">
                            <div class="search-col">

                                <span>CPO</span>
                                <select name="cpoSelect" id="cpoSelect" [(ngModel)]="searchFormModel.cpoSelect"
                                    [disabled]="_global.elementDisabled" style="height : 18px;" class="soflow-color-src"
                                    (change)="onChange('cpo')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="cpo"
                                    [disabled]="_global.elementDisabled" id="cpo" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.cpo" (keydown)="onKeyDown($event)" />

                            </div>
                            <div class="search-col">
                                <span>Season</span>
                                <select name="seasonSelect" id="seasonSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.seasonSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('season')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="season"
                                    [disabled]="_global.elementDisabled" id="season" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.season" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Dept</span>
                                <select name="deptSelect" id="deptSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.deptSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('dept')">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="dept"
                                    [disabled]="_global.elementDisabled" id="dept" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.dept" (keydown)="onKeyDown($event)" />
                            </div>
                        </div>
                        <div class="search-row">
                            <!--CHG0016311 Rupan Start -->
                             <!-- <div class="search-col" [hidden]="roleName === 'PSR_VENDOR'">   -->
                            <div [hidden]="roleName === 'PSR_VENDOR'">
                                <span style="font-size:12px;padding-right:5px;width:100px;display: inline-block;">
                                    Ndc Date
                                </span>
                                <select onchange="myDatepickerFunction(this.id)" name="ndcdateSelect"
                                    [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.ndcdateSelect"
                                    style="height : 18px;line-height: 12px;margin-right: 2px;font-size: 10px;" 
                                    class="soflow-color-src" (change)="onChange('ndcdate')"
                                    id="ndcdateSelect">
                                    <option [value]="modelOperator.value"
                                        *ngFor="let modelOperator of modelOperatorsfordate">{{modelOperator.label}}
                                    </option>
                                </select>   
                                <!--  <input type="date" style="height : 18px;"  name="ndcdate" [disabled]="_global.elementDisabled" id="ndcdate" (change)="setFilterValue($event)" value=""  data-date-format="MM/DD/YYYY" placeholder="mm/dd/yyyy"  (keydown)="onKeyDown($event)" /> -->
                               <my-date-picker *ngIf="searchFormModel.ndcdateSelect!='Between'" 
                                    name="ndcdate" [(ngModel)]="cndcdate"
                                    [disabled]="_global.elementDisabled" id="ndcdate"
                                    (dateChanged)="onDateChanged($event, 'ndcdate')" placeholder="mm/dd/yyyy"
                                    (keydown)="onKeyDown($event)" [options]="myDatePickerOptions">
                                </my-date-picker>
                                <!-- [allowEdit] = 'false'-> not to allowed user input date. only from date picket calender -->
                                <ejs-daterangepicker *ngIf="searchFormModel.ndcdateSelect=='Between'" 
                                    id='ndcdaterange' placeholder="mm/dd/yyyy - mm/dd/yyyy" 
                                    cssClass="e-custom-style" pxformat='MM-dd-yyyy' strictMode='true' 
                                    [startDate]='ndcdateStart' [endDate]='ndcdateEnd'
                                    [value]='ndcDateValue' (change)="onDateRangeChnage($event, 'ndcdaterange')"> 
                                </ejs-daterangepicker>
                              </div> 
                            <!-- <div class="search-col" [hidden]="roleName === 'PSR_VENDOR'"> -->
                                <div [hidden]="roleName === 'PSR_VENDOR'">
                                <span style="font-size:12px;padding-right:5px;width:100px;display: inline-block;">
                                    Vpo Nlt Gac Date
                                </span>
                                <select onchange="myDatepickerFunction(this.id)" name="vpoNltGacDateSelect"
                                    [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vpoNltGacDateSelect" 
                                    style="height : 18px;line-height: 12px;margin-right: 2px;font-size: 10px;"
                                    class="soflow-color-src" (change)="onChange('vpoNltGacDate')"
                                    id="vpoNltGacDateSelect">
                                    <option [value]="modelOperator.value"
                                        *ngFor="let modelOperator of modelOperatorsfordate">{{modelOperator.label}}
                                    </option>
                                </select>
                                <my-date-picker *ngIf="searchFormModel.vpoNltGacDateSelect!='Between'" 
                                    name="vpoNltGacDate" [(ngModel)]="cvpoNltGacDate"
                                    [disabled]="_global.elementDisabled" id="vpoNltGacDate"
                                    (dateChanged)="onDateChanged($event, 'vpoNltGacDate')" placeholder="mm/dd/yyyy"
                                    [options]="myDatePickerOptions">
                                </my-date-picker>
                                <ejs-daterangepicker *ngIf="searchFormModel.vpoNltGacDateSelect=='Between'" 
                                    id='vpoNltGacDateRange' placeholder="mm/dd/yyyy - mm/dd/yyyy" 
                                    cssClass="e-custom-style" pxformat='MM-dd-yyyy' strictMode='true' 
                                    [startDate]='vpoNltGacDateStart' [endDate]='vpoNltGacDateEnd'
                                    [value]='vpoNltGacDateValue' (change)="onDateRangeChnage($event, 'vpoNltGacDateRange')">
                                </ejs-daterangepicker>
                            </div>
                            <!-- <div class="search-col"> -->
                            <div>
                                <span style="font-size:12px;padding-right:5px;width:100px;display: inline-block;">
                                    Vpo Fty Gac Date
                                </span>
                                <select onchange="myDatepickerFunction(this.id)" name="vpoFtyGacDateSelect"
                                    [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vpoFtyGacDateSelect" 
                                    style="height : 18px;line-height: 12px;margin-right: 2px;font-size: 10px;"
                                    class="soflow-color-src" (change)="onChange('vpoFtyGacDate')"
                                    id="vpoFtyGacDateSelect">
                                    <option aria-placeholder="mm-dd-yyyy" [value]="modelOperator.value"
                                        *ngFor="let modelOperator of modelOperatorsfordate">{{modelOperator.label}}
                                    </option>
                                </select>

                                <my-date-picker *ngIf="searchFormModel.vpoFtyGacDateSelect!='Between'" 
                                    name="vpoFtyGacDate" [(ngModel)]="cvpoFtyGacDate"
                                    [disabled]="_global.elementDisabled" id="vpoFtyGacDate"
                                    (dateChanged)="onDateChanged($event, 'vpoFtyGacDate')" placeholder="mm/dd/yyyy"
                                    [options]="myDatePickerOptions">
                                </my-date-picker>
                                <ejs-daterangepicker *ngIf="searchFormModel.vpoFtyGacDateSelect=='Between'" 
                                    id='vpoFtyGacDateRange' placeholder="mm/dd/yyyy - mm/dd/yyyy" 
                                    cssClass="e-custom-style" pxformat='MM-dd-yyyy' strictMode='true' 
                                    [startDate]='vpoFtyGacDatestart' [endDate]='vpoFtyGacDateEnd'
                                    [value]='vpoFtyGacDateValue' (change)="onDateRangeChnage($event, 'vpoFtyGacDateRange')">
                                </ejs-daterangepicker>
                            </div>
                            <!--CHG0016311 Rupan End -->
                        </div>
                        <div class="search-row">
                            <div class="search-col">

                                <span>Color Wash Name</span>
                                <select name="colorWashNameSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.colorWashNameSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('colorWashName')"
                                    id="colorWashNameSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="colorWashName"
                                    [disabled]="_global.elementDisabled" id="colorWashName"
                                    (change)="setFilterValue($event)" [(ngModel)]="searchFormModel.colorWashName"
                                    (keydown)="onKeyDown($event)" />

                            </div>
                            <div class="search-col">
                                <span>Country Origin</span>
                                <select name="countryOriginSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.countryOriginSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('countryOrigin')"
                                    id="countryOriginSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="countryOrigin" id="countryOrigin" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.countryOrigin" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Ndc Wk</span>
                                <select name="ndcWkSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.ndcWkSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('ndcWk')" id="ndcWkSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" name="ndcWk"
                                    [disabled]="_global.elementDisabled" id="ndcWk" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.ndcWk" (keydown)="onKeyDown($event)" />
                            </div>
                        </div>
                        <div class="search-row">
                            <div class="search-col">

                                <span>Vpo Status</span>
                                <select name="vpoStatusSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vpoStatusSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('vpoStatus')" id="vpoStatusSelect">
                                    <option [value]="modelOperator.value"
                                        *ngFor="let modelOperator of modelOperatorsforstatus">{{modelOperator.label}}
                                    </option>
                                </select>
                                <input type="text" style="height : 18px;" name="vpoStatus"
                                    [disabled]="_global.elementDisabled" id="vpoStatus"
                                    (change)="setFilterValue($event)" [(ngModel)]="searchFormModel.vpoStatus"
                                    (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Vpo Line Status</span>
                                <select name="vpoLineStatusSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.vpoLineStatusSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('vpoLineStatus')"
                                    id="vpoLineStatusSelect">
                                    <option [value]="modelOperator.value"
                                        *ngFor="let modelOperator of modelOperatorsforstatus">{{modelOperator.label}}
                                    </option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="vpoLineStatus" id="vpoLineStatus" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.vpoLineStatus" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Category</span>
                                <select name="categorySelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.categorySelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('category')" id="categorySelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="category" id="category" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.category" (keydown)="onKeyDown($event)" />
                            </div>


                        </div>

                        <div class="search-row">
                            <div class="search-col">
                                <span>Cpo Color Desc</span>
                                <select name="cpoColorDescSelect" [disabled]="_global.elementDisabled"
                                    [(ngModel)]="searchFormModel.cpoColorDescSelect" style="height : 18px;"
                                    class="soflow-color-src" (change)="onChange('cpoColorDesc')"
                                    id="cpoColorDescSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">
                                        {{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled"
                                    name="cpoColorDesc" id="cpoColorDesc" (change)="setFilterValue($event)"
                                    [(ngModel)]="searchFormModel.cpoColorDesc" (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>CPO Dept</span>
                                <select name="cpoDeptSelect" [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.cpoDeptSelect"
                                    style="height : 18px;" class="soflow-color-src" (change)="onChange('cpoDept')" id="cpoDeptSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">{{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled" name="cpoDept"
                                    id="cpoDept" (change)="setFilterValue($event)" [(ngModel)]="searchFormModel.cpoDept"
                                    (keydown)="onKeyDown($event)" />
                            </div>
                            <div class="search-col">
                                <span>Init Flow</span>
                                <select name="initFlowSelect" [disabled]="_global.elementDisabled" [(ngModel)]="searchFormModel.initFlowSelect"
                                    style="height : 18px;" class="soflow-color-src" (change)="onChange('initFlow')" id="initFlowSelect">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">{{modelOperator.label}}</option>
                                </select>
                                <input type="text" style="height : 18px;" [disabled]="_global.elementDisabled" name="initFlow"
                                    id="initFlow" (change)="setFilterValue($event)" [(ngModel)]="searchFormModel.initFlow"
                                    (keydown)="onKeyDown($event)" />
                            </div>

                        </div>
                        <div class="search-row">

                        </div>
                    </div>
                    <div class="btn-cntnr-srch-flds cmn-mrt-clas" style="padding-top: 45px; padding-bottom: 0px;">
                        <button (click)="resetForm()" [disabled]="_global.elementDisabled" id="clear-fields-from"
                            onclick="myDatepickerFunctionClear(this.id)">Clear Fields</button>
                        <button class="" type="submit" (click)="togglePanel(); onFormSubmit(1);"
                            [disabled]="_global.elementDisabled" id="search-fields-from">Search</button>
                        <button (click)="saveSearch()" [disabled]="_global.elementDisabled" 
                            id="save-search-from">Save Search</button>
                    </div>

                </ng-template>

            </div>
        </form>
    </mat-expansion-panel>
    <div style=" display: inline-block; margin-top: 10px; font-size: 13px;font-weight: 600;position: relative;top: -12px !important;
        margin-right: 11px;" *ngIf="gridStatus">Select Column:</div>
    <div style="width: 270px; display: inline-block; margin-top: 10px;" class="ng_available_view_cntnr"
        *ngIf="gridStatus">

        <ng-select [allowClear]="true" [items]="scrollList" placeholder="---------Select---------" id="dropdownscroll"
            (selected)="scrollColumn($event)">
        </ng-select>
    </div>
    <div class="btn-cntnr-srch-flds fill-up-down-psr" *ngIf="gridStatus">
        <span (click)="fillGridUp()">Fill Up</span>
        <span (click)="fillGridDown()">Fill Down</span>
    </div>
</div>
<div style="font-size: 13px; font-family: Verdana; float: left;"></div>
<div class="jqwidget-grid-parent grd_cntr_mcc">

    <div *ngIf= "scrollList.length>0">
        <div class="defult-view-cntr">
             <input type="checkbox" id="gridCheck" name="gridCheck" value=""
               [(ngModel)]="allowCheckStatus" (change)="getGridMainCheckStatus()">
             <label for="gridCheck"></label>
        </div>
   </div>

    <jqxGrid #psrGrid class="jqxw-start" [columnsheight]="20" [rowsheight]="23" [source]="dataAdapter"
        [columns]="columns" [height]="400" [columnsresize]="true" [pageable]="false" [sortable]="false"
        [disabled]="_global.elementDisabled" [altrows]="true" [enabletooltips]="false" [scrollmode]="'virtual'"
        (onCellendedit)="Cellendedit($event)" (onCellvaluechanged)="Cellvaluechanged($event,'fromgrid')"
        (onCellbeginedit)="Cellbegineditpsr($event)" (onCellclick)="cellclick()" [columngroups]="columngroups"
        [theme]='"white"' [pagesize]="100" [selectionmode]="'multiplecellsadvanced'" [filterable]="false"
        [handlekeyboardnavigation]="handlekeyboardnavigation" [editable]="true" [altrows]="false"
        [showheader]="showHideHeader">
    </jqxGrid>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="pager.currentPage !== 1 && onFormSubmit(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="pager.currentPage !== 1 && onFormSubmit(pager.currentPage - 1)">Previous</a>
        </li>

        <li>
            <select id="page-number-list" (change)="onFormSubmit($event.target.value)"
                [disabled]="_global.elementDisabled">
                <option *ngFor="let page of pager.pages" value={{page}}>
                    {{page}}
                </option>
            </select>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="pager.currentPage !== pager.totalPages && onFormSubmit(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="pager.currentPage !== pager.totalPages && onFormSubmit(pager.totalPages)">Last</a>
        </li>
        <li class="disabled">
            <span>{{pager.startIndex+1}} - {{pager.endIndex+1}} of {{pager.totalItems}}</span>
        </li>
    </ul>

    <div style="clear:both;"
            style="text-align: left;font-size: medium;margin-top: 8px;">
        <span style="color: #15849d;"><i class="fa fa-info-circle"></i></span> "<" or ">" symbols are not supported in the cell.
    </div>
</div>

<!-- The Modal -->
<div id="modalImage" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="hideModalPouup()">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="modal-content" src="">

    <!-- Modal Caption (Image Text) -->
    <div id="modal-caption"></div>
</div>

 <!--lookoup popup-->
 <div>
    <app-dialog class="fixPopoup excelUiValPop" [(visible)]="excelUivaliPopoup">
         <div class="poup_mn_cntr">
              <div class="popSec_mn_cntr">


                   <div class="inspopSec_mn_cntr inspopSec_mn_cntr_table">

                        <table class="table table-bordered" style="width:100% !important;">
                             <thead>
                                       <tr>
                                            <th>Column Name</th>
                                            <th>Row Number</th>
                                            <th>Current Result</th>
                                            <th>Expected Result</th>
                                            <!-- <th>Select</th> -->
                                       </tr>
                             </thead>
                             <tbody>
                                  <tr *ngFor="let label of checkExcelError">
                                       <td>{{label.columnName}}</td>
                                       <td>{{label.rownumber}}</td>
                                       <td>{{label.result}}</td>
                                       <td>{{label.expectedResult}}</td>
                                  </tr>
                             </tbody>
                        </table>
                   </div>
              </div>
              <div class="dsp-flx-jc-sb m-t-20">
                  <div style="font-size: 16px;">Please <span style="font-size:17px; color:red;">"Enable Content"</span> in excel to avoid this kind of error</div>
                  <div><img src="{{macroSrc}}" alt=""></div>
                  <!-- <div><img src="../../assets/images/Screenshot_1.png" alt=""></div> -->
              </div>
         </div>
    </app-dialog>


</div>
<!--end-->

<div>
    <app-dialog [(visible)]="showSmartPopup" class="smartTagPop absolPopup">
        <!-- <h4 style="border-bottom: 1px solid #d1cdcd;">Smart Tag Details</h4> -->
        <div class="smartTagMainDiv">
        <div>
            <h5>Product Costing</h5>
            <table style="width: 100%;" *ngFor="let item of prodCosting">
                <tr *ngFor="let keyt of item | keyvalue">
                    <td style="width: 50%;">{{keyt.key}}</td>
                    <td style="font-size: 11px;"><input type="text" value="{{keyt.value}}" disabled></td> 
                </tr>
                <tr style="text-align: center;" *ngIf="(showSmartDetails | json) == ({} | json)"><td>No Data Available</td> </tr>
            </table>
        </div>
        <div>
            <h5 >VPO Details</h5>
            <table style="width: 100%;" *ngFor="let item of vpoDetails">
                <tr *ngFor="let keyt of item | keyvalue">
                    <td style="width: 50%;">{{keyt.key}}</td>
                    <td style="font-size: 11px;"><input type="text" value="{{keyt.value}}" disabled></td> 
                </tr>
                <tr style="text-align: center;" *ngIf="(showSmartDetails | json) == ({} | json)"><td>No Data Available</td> </tr>
            </table>
        </div>

        <div>
            <h5>Tech Spec</h5>
            <table style="width: 100%;" *ngFor="let item of techSpec">
                <tr *ngFor="let keyt of item | keyvalue">
                    <td style="width: 50%;">{{keyt.key}}</td>
                    <td style="font-size: 11px;"><input type="text" value="{{keyt.value}}" disabled></td> 
                </tr>
                <tr style="text-align: center;" *ngIf="(showSmartDetails | json) == ({} | json)"><td>No Data Available</td> </tr>
            </table>
        </div>

    </div>
        
    </app-dialog>
</div>
