

.mn-page-head-container {
    padding: 0px 40px;
    width: 800px;
  }
.header-main-container-ap {
margin-bottom: 20px;

}
.content-header-text-main-container {
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}
.fields-main-container-ap>div {
      margin-bottom:5px;
}

.multiple_role_select {
   display: inline-block;
}
button {
      background-color: #f9f9f9;
      padding: 3px 10px;
      border: 1px solid #adadad;
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 15px !important;
}
.jqx-grid-main-container {
   margin-top: 20px;
}

/**extra css **/
.mat_expension_main_container {
 width: 500px;
}
.mat_expension_child_fields_main_container {
  padding: 15px;
}
.inpt-flds-cmn-cntnr label{
    font-size: 14px;
    margin-right: 20px;
}
.inpt-flds-cmn-cntnr input {
    font-size: 13.5px;
    height: 14px;
}
.inpt-flds-cmn-cntnr select {
    font-size: 14px;
    margin-right: 10px;
}
.search_fields_button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
/** default css starts here **/

.defult-view-cntr-user {
  position: relative;
  display: inline-block;
  margin-left: -4px;
}

.defult-view-cntr-user input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.defult-view-cntr-user label {
  position: relative;
  padding-left: 25px !important;
}
.defult-view-cntr-user label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 14px;
  height: 14px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid transparent;
  border-color: #aaa;
  background: #efefef;
}
.defult-view-cntr-user label:after {
  content: '';
  display: block;
  width: 12px;
  height: 5px;
  border-bottom: 1.5px solid #4f514f;
  border-left: 1.5px solid #4f514f;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 7px;
  left: 5.5px;
}
.defult-view-cntr-user input[type="checkbox"]:checked ~ label::before {
  color: #7bbe72;
}

.defult-view-cntr-user input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.defult-view-cntr-user label {
  min-height: 14px;
  display: block;
  padding-left:30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.defult-view-cntr-user input[type="checkbox"]:focus + label::before {
  outline: 0;
}
.defult-view-cntr-user span {
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle !important;
}

/** default css ends here **/