<div class="mn-page-head-container">
    <div class="header-main-container-ap">
        <button routerLink="/user/create-user" [disabled]="_global.elementDisabled">
          NEW</button>
        <button  [disabled]="_global.elementDisabled" class="event-code-new" (click)="updateUser()">
          UPDATE</button>
        <button  [disabled]="_global.elementDisabled" class="event-code-new" (click)='deleteUser()' >
         DELETE</button>
      </div>
      <div class="content-section-main-container-ap">
        <form #f="ngForm"  (ngSubmit)="getUserData()">
           <div class="fields-main-container-ap">
                  <mat-expansion-panel [expanded]="true" class="mat_expension_main_container">
                      <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
                        Search Fields
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="mat_expension_child_fields_main_container">
                            <div class="inpt-flds-cmn-cntnr">
                                  <label style="min-width:80px;">User Name</label>
                                  <select name="Useroperator" id="Useroperator" [disabled]="_global.elementDisabled" [(ngModel)]="UserSearchModel.userSelect"
                                      (change)="onChange('Useroperator')">
                                    <option [value]="Useroperator.value" *ngFor="let Useroperator of Useroperators">{{Useroperator.label}}</option>
                                  </select>
                                  <input type="text" class="cmn-cls-input-fld-srch" id="userInput" name="userInput" 
                                    [disabled]="_global.elementDisabled" [(ngModel)]="model.userInput" #modelName="ngModel" />
                              </div>
                              <div class="inpt-flds-cmn-cntnr">
                                  <label style="min-width:80px;">Role Name</label>
                                  <select name="roleSelect" id="roleSelect" [disabled]="_global.elementDisabled" [(ngModel)]="UserSearchModel.roleSelect"
                                      (change)="onChange('roleSelect')">
                                    <option [value]="Useroperator.value" *ngFor="let Useroperator of Useroperators">{{Useroperator.label}}</option>
                                  </select>
                                  <input type="text" class="cmn-cls-input-fld-srch" id="roleInput" name="roleInput" 
                                    [disabled]="_global.elementDisabled" [(ngModel)]="model.roleInput" #modelName="ngModel" />
                              </div>
                              <div class="inpt-flds-cmn-cntnr">
                                  <label style="min-width:80px;">Disable User</label>
                                  <div class="defult-view-cntr-user">
                                      <input type="checkbox"  id="userDisable" >
                                      <label for="userDisable" style="min-width:0px;"></label>
                                    </div>
                              </div>
                            <div class="search_fields_button_container">
                              <button  type="submit" (click)="getUserData()" [disabled]="_global.elementDisabled">Search</button>
                              <button (click)="resetForm()" type="reset">Reset</button>
                            </div>
                          </div>
                       </ng-template>
                    </mat-expansion-panel>
             </div>
          </form>
          <div class="jqx-grid-main-container">
              <jqxGrid #userProfileGrid class="jqxw-start"  (onCellendedit)="cellEndevent($event)" [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
                [altrows]="true" [enabletooltips]="false" [scrollmode]="'virtual'" [theme]='"white"' [pagesize]="100"
                [selectionmode]="'multiplecellsadvanced'" [editable]="true" [altrows]="false" [handlekeyboardnavigation]="handlekeyboardnavigation"
                [width]="500" [disabled]="_global.elementDisabled">
              </jqxGrid>
            </div>
      </div>  
</div>
