<div class="mn-page-head-container">
    <form #eventForm="ngForm" novalidate>
        <div class="header-main-container-ap">
            <button (click)="saveEventCodes()" [disabled]="_global.elementDisabled">
            Save
            </button>
            <button (click)="deleteEventCode()" [disabled]="buttonStatus" >
            Delete
            </button>
        </div>
        <div class="content-section-main-container-ap">
            <div class="fields-main-container-ap">
                <div class="inpt-flds-cmn-cntnr">
                    <label for="eventcode">Event Code :</label>
                    <input type="text"  [readonly]= "isReadOnly" class="form-control" name="eventcode" id="eventcode" [disabled]="_global.elementDisabled" [(ngModel)]="eventModel.eventcode" #eventcode="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && eventcode.invalid }" required />
                    <div *ngIf="eventForm.submitted && eventcode.invalid" id="invalid-feedback" class="invalid-feedback">
                            <div style="color:red;">Event Code is required</div>
                    </div>
                </div>
                <div class="inpt-flds-cmn-cntnr">
                    <label for="eventcode">Description</label>
                    <input type="text" class="form-control" name="desc" id="desc" [disabled]="_global.elementDisabled" [(ngModel)]="eventModel.desc" #desc="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && desc.invalid }" required />
                    <div  *ngIf="eventForm.submitted && desc.invalid" id="invalid-feedback" class="invalid-feedback">
                        <div style="color:red;">Description is required</div>
                        </div>
                </div>
                <div class="inpt-flds-cmn-cntnr">
                    <label>Event Category :</label>
                    <input type="text" class="form-control" name="eventcategory" id="eventcategory" [disabled]="_global.elementDisabled" [(ngModel)]="eventModel.eventcategory" #eventcategory="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && eventcategory.invalid }" required/>
                        <div *ngIf="eventForm.submitted && eventcategory.invalid" id="invalid-feedback" class="invalid-feedback">
                            <div style="color:red;">Event Category is required</div>
                    </div>
                </div>   
            </div>    
        </div>    
    </form>
</div>    