

.login-left {
    padding: 150px 0px;
    width: 60%;
    display: inline;
    float: left;
    border-right: 2px solid rgba(50, 120, 215, .3);
}
.login-right-container {
    width: 40%;  
    display: table-row;
    margin-left: 55px;
}
.login-right {
    margin-left: 50px;
    margin-top: 85px;
}

.login-padding {

    margin-top: 220px;
    height: 500px;
    vertical-align: middle;
}

.login-left img  {
    display:block;
    margin:auto;
}
.login-left-center {
    margin:auto;
    text-align: center;
    margin-top: 20px;

}
.login-right .left-padding {
   color: magenta;
}

label {
    display: block;
    font-size: 14px;
}

input {
    border: 1px solid darkgrey;
    border-radius: 5px;
    width: 250px;
    padding-left: 6px;
    font-size: 14px;
}
h2 {
    color: rgba(50, 120, 215, .3);
}
.form-group {
    margin-top: 20px;
}
#login {
    background-color: rgba(50, 120, 215, .3);
    border-radius: 35px;
    width: 150px;
    padding: 6px;
    border: 1px solid #888484;
    cursor: pointer;
    font-size: 14px;
}
.invalid-feedback {
    color: red;
    display: none;
}