<div class="login-container">
  <div class="login-padding">
    <div class="login-left">
      <img src="{{logoSrc}}">
      <div id="maintenance" class="login-left-center"></div>
    </div>
    <div class="login-right-container">
      <div class="login-right">
        <h2>Log In</h2>
        <form (submit)="onSubmit($event)">
          <div class="form-group">
            <label for="username">User Id</label>
            <input type="text" name="username" id="username" autofocus>
            <div class="invalid-feedback">
              <div>User Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" id="password">
            <div class="invalid-feedback">
              <div>Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="buttonStatus" id="login">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>