<div class="mn-page-head-container">
        <div class="header-main-container-ap">
            <button routerLink="/event/eventcode-model-add" [disabled]="_global.elementDisabled" class="event-code-new">New</button>
        </div>
      <div class="content-section-main-container-ap">
        <form #f="ngForm">
           <div class="fields-main-container-ap">
                  <mat-expansion-panel [expanded]="true" class="mat_expension_main_container">
                      <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
                        Search Fields
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="mat_expension_child_fields_main_container">
                            <div class="inpt-flds-cmn-cntnr">
                                  <label>Event Code</label>
                                  <select name="modeloperator" id="modeloperator" [disabled]="_global.elementDisabled" [(ngModel)]="eventSearchModel.eventcodeselect"
                                      (change)="onChange($event)">
                                    <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">{{modelOperator.label}}</option>
                                  </select>
                                  <input type="text" class="cmn-cls-input-fld-srch" id="eventcode" name="eventcode" 
                                    [disabled]="_global.elementDisabled" [(ngModel)]="model.eventcode" #modelName="ngModel" (change)="setFilterValue($event)" />
                              </div>
                            <div class="search_fields_button_container">
                              <button (click)="getEventCode()" [disabled]="_global.elementDisabled">Search</button>
                              <button (click)="resetForm()" type="reset">Reset</button>
                            </div>
                          </div>
                       </ng-template>
                    </mat-expansion-panel>
             </div>
          </form>
          <div class="jqx-grid-main-container">
              <jqxGrid #eventsGrid class="jqxw-start" [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
                [altrows]="true" [enabletooltips]="false" [scrollmode]="'virtual'" [theme]='"white"' [pagesize]="100"
                [selectionmode]="'multiplecellsadvanced'" [editable]="true" [altrows]="false" [handlekeyboardnavigation]="handlekeyboardnavigation"
                [width]="500" [height]="450" [disabled]="_global.elementDisabled">
              </jqxGrid>
            </div>
      </div>  
</div>
