<div *ngIf="configLoaded">

</div>
<div id="container">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content  reduce-margin-left">
        <ng-progress  [speed]="600"  [trickleSpeed]="900" [spinner]="true" [thick]="false" [meteor]="true" [color]="'red'" [ease]="'linear'"></ng-progress>
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
</div>

<app-dialog [(visible)]="showDialog">
    <span class="btn-cntnr-srch-fld">
        <br/>
        <hr>
        <span>Your session has been going to expire !!!! Please click on reset button to extend the session ...! </span>
    <br/><br/>
    <button type="submit" (click)="reset()" id="login">Reset</button>
    </span>

</app-dialog>

<app-dialog [(visible)]="sessionEnded">
    <span class="btn-cntnr-srch-fld">
        <br/>
        <hr>
        <span>Your session has been ended redirecting to login ...! </span>
    </span>

</app-dialog>

<app-dialog [(visible)]="isNetwork">
    <span class="btn-cntnr-srch-fld">
        <br/>
        <hr>
        <span>Network is currently unavailable.</span>
    </span>

</app-dialog>

<app-dialog [(visible)]="isJDBCNetwork">
    <span class="btn-cntnr-srch-fld">
        <br/>
        <hr>
        <span>Network is currently unavailable.</span>
    </span>

</app-dialog>


<!-- <p><strong>{{idleState}}</strong></p> -->
<!-- <p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p> -->
<!-- <button (click)="reset()" *ngIf="timedOut">Restart</button> -->