body,html {
    padding:0px;
    margin:0px;
    background:#f2f3f8;
    font-weight: 400;
    font-size: 1rem;
    text-transform: initial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-cntnr-srch-fld button {
    background-color: #f9f9f9;
    padding: 5px 30px;
    border: 1px solid #adadad;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 50 10px 105px 50px rgba(113, 106, 202, .08);
    margin-right: 45px;
    border-radius: 2px;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%
}

* {
    box-sizing:border-box;
}