<!-- Show Manual Start -->
<app-dialog class="popup" [(visible)]="showManualPopup">
  <h3 style="margin-bottom: 15px;">Manuals</h3>
  <ul>
    <li>Training Materials
      <ul>
        <li [hidden]="roleName === 'PSR_VENDOR'"><a href="{{merchantTM}}" target="_blank">Merchandising</a></li>
        <li><a href="{{vendorTM}}" target="_blank">Vendor</a></li>
      </ul>
    </li>
    <li>Job-Aids
      <ul>
        <li><a href="{{excelJA}}" target="_blank">Import/Export Excel</a></li>
        <li [hidden]="roleName === 'PSR_VENDOR'"><a href="{{pbiAssoc}}" target="_blank">Power BI (MGF Associate)</a></li>
        <li><a href="{{pbiVendor}}" target="_blank">Power BI (Vendor)</a></li>
      </ul>
    </li>
    <li>E-learning Materials
      <ul>
        <li><a href="https://sway.office.com/wwf83YyiQ7qxsOEy?ref=Link" target="_blank">Import/Export Excel</a></li>
        <li>Please use "MGFpsr8@" as the password for accessing E-learning Materials resources.</li>
      </ul>
    </li>
  </ul>
</app-dialog>
<!-- Show Manual End -->
<div class="header" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <div class="logo-dv">
    <a href="{{psrui}}"><img src="{{logoSrc}}"></a>
  </div>
   <div class="usr-profile-mn-cntnr">
     <span (click)="showManual()">Help</span>
          <!-- UAT usage -->
          <!-- <a href="/manuals/merchandising_training_manual.pdf">Merchandising</a>
          <a href="/manuals/vendor_training_manual.pdf">Vendor</a> -->
      <div class="tooltip" (click)="refresh()"><i class="fa fa-refresh"></i>
          <span class="tooltiptext">Refresh</span>
      </div>
     <span>{{ loginUser }}</span>
     <span (click)="logout()" >Logout</span>
   </div>

    <!-- <table>
      <tr>
        <td>{{ loginUser }}</td>
        <td>
          <div (click)="logout()" >Logout</div>
        </td>
      </tr>
    </table>   -->
</div>