.header ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-right: 15px;
}

.header .logo-dv {
    position: relative;
    top: -17px;
}

.header .logo-dv a {
    position: absolute;
    top: 2px;
}

.header .logo-dv img {
    max-width: 50px;
}

.header ul li {
    display: inline-block;
    padding: 17px 0px;
}

.header ul li a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 17px 28px 17px 7px;
    border-bottom: 3px solid rgba(50, 120, 215, .3);
    position: fixed;
    z-index: 999;
}

.prf-cmn-cntnr {
    position: relative;
    font-size: 14px;
}

.prf-cmn-child-cntnr:before {
    content: ' \25C0';
    position: absolute;
    transform: scale(2, 1) rotate(90deg);
    right: 13px;
    top: -13px;
    color: #dfdfdf;
}

.prf-cmn-cntnr .prf-cmn-child-cntnr {
    position: absolute;
    background-color: #dfdfdf;
    top: 46px;
    left: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

ul li ul.prf-cmn-child-cntnr li {
    padding: unset;
    text-align: -webkit-center;
    margin-right: unset;
    display: block;
}

.prf-cmn-cntnr .prf-cmn-child-cntnr li a {
    display: block;
    padding: 5px 41px;
}

.prf-cmn-cntnr .prf-cmn-child-cntnr li {
    display: block;
}

.prf-cmn-child-cntnr {
    display: none;
}

.prf-cmn-cntnr:hover .prf-cmn-child-cntnr {
    display: block;
}

.btn-cntnr-srch-flds button {
    padding: 3px 20px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    margin-right: 15px;
    background-color: rgba(231, 235, 240, 0.1);
    border: 1px solid rgba(220, 226, 235, 0.3);
    border-radius: 15px;
}

.btn-cntnr-srch-flds button:last-child {
    margin-right: 0px;
}

.usr-profile-mn-cntnr {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.usr-profile-mn-cntnr>span:first-child {
    border-right: 2px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.usr-profile-mn-cntnr>span:nth-child(3) {
    border-right: 2px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.usr-profile-mn-cntnr>span:nth-child(2):hover {
    color: red;
}

.usr-profile-mn-cntnr>span:nth-child(3):hover {
    color: red;
}

.tooltip>i:first-child {
    border-right: 2px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}