<div class="mn-page-head-container">

  <form #roleForm="ngForm">
    <div class="header-main-container-ap">
      <button (click)="saveRole()" [hidden]="hideSubmit">SAVE</button>
      <button (click)="updateRole()" [hidden]="hideUpdate">UPDATE</button>
    </div>
    <div class="content-section-main-container-ap">
      <div class="content-header-text-main-container">{{roleProfileLabel}}</div>
      <div class="fields-main-container-ap">
        <div [hidden]="hideRoleId">
          <label>Role Id</label>
          <input type="text" name="roleId" class="form-control" name="roleId" id="roleId" [(ngModel)]="roleModel.roleId" #roleName="ngModel"
            [disabled]="disableRoleId" />
        </div>
        <div>
          <label>Role Name* :</label>
          <input type="text" name="roleName" class="form-control" name="roleName" id="roleName" [(ngModel)]="roleModel.roleName" (keyup)="enterValidate('roleName')" #roleName="ngModel"
          />
          <span class="error_message_role">{{roleNameError}}</span>
        </div>
        <div>
          <label>Role Description* :</label>
          <textarea name="description" class="form-control" name="description" id="description" [(ngModel)]="roleModel.description"
            #description="ngModel" (keyup)="enterValidate('description')"></textarea>
          <span class="error_message_role">{{roleDiscError}}</span>
        </div>
        <div>
          <label>App Name* :</label>
          <select style="height:34px;" name="appName" class="form-control" name="appName" id="appName" [(ngModel)]="roleModel.appName"
            #description="ngModel">
            <option disabled value="">Please select</option>
            <option>PSR</option>
          </select>
          <span class="error_message_role">{{roleAppnameError}}</span>
        </div>
        <div style="clear:both;" [hidden] = "disableRoleHide">
            <label>Disable Role:</label>
            <div class="defult-view-cntr-user">
                <input type="checkbox"  id="disableRole"  name="disableRole" value="" [checked]="disableRoleStatus" >
                <label for="disableRole" ></label>
            </div>
        </div>

        <div style="clear:both;" [hidden] = "disableRoleHide">
          <label> Require BR User ID:</label>
          <div class="defult-view-cntr-user">
              <input type="checkbox"  id="brUserId"  name="brUserId" value="" [checked]="brUserIdStatus" >
              <label for="brUserId" ></label>
          </div>
      </div>
      </div>
    </div>
  </form>
</div>