@import "../../../../node_modules/material-design-icons/iconfont/material-icons.css";
.srch-br-cntnr {
    margin-left:20px;
    margin-right: 20px;
    padding:0px 10px;
    clear: both;
}
.srch-flds-mn-cntnr {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.btn-cntnr-srch-flds {
    text-align:center;
    margin-bottom:10px;
    display: table;
    margin-left: 29px;
}

.srch-tp-bar-mn-cntnr {
    display:block;
}
.cmn-mrt-clas  {
    margin-top:20px;
}
.hid-show-srch-bar-brdr {
    border:1px solid #d4d4d4;
    padding:5px;
    border-radius:5px;
    background-color:#f9f9f9;
    background-image:none;
}
.hid-show-srch-bar-brdr span i {
    margin-right:5px;
}
button {
    margin-right: 20px;
    height: 25px;
    line-height: 21px;
    vertical-align: bottom;
    width: 80px;
    border-radius: 30px;
    background-color: rgba(50, 120, 215, .1);
    border: 1px solid rgba(50, 120, 215, .3);
    border-radius: 15px;
}
.inpt-flds-sb-cntnr {
    display: inline;
    float: left;
    margin-right: 200px;
}
.buitton-grp {
    float: right;
}
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {
    min-height: 0px;
    border-radius: 0;
}
.model-name {
    margin-right: 10px;
}
#modeloperator {
    margin-right: 10px;
    width: 100px;
    height: 35px;
    border-radius: 0px;
    border: none;
    background: #eeeeee;
}
.add-model-container {
    margin-top: 20px;
}
.form-group label {
    font-weight: 500;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
}
.form-group span {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    line-height: 12px;
}
table {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.table-container {
    margin: 20px 20px 20px 30px;
}
.table-container th {
    text-align: center;
}
.table-container th {
    background-color: #f9f9f9 !important;
    font-family: Verdana,Arial,sans-serif;
    font-style: 600;
    font-size: 14px;
    font-weight: 500;
}
.table-container td {
    font-family: Verdana,Arial,sans-serif;
    font-style: 500;
    font-size: 14px;
    line-height: 14px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border: 1px solid #f2f2f2;
}
.icn-btn {
    margin-right: 5px;
    height: 25px;
    line-height: 21px;
    vertical-align: bottom;
    width: 40px;
    border-radius: 0;
    border: none;

}


/*thulsi code added here*/
.mat_expension_main_container {
  max-width: 745px;
}

/** table css starts here **/
.inspopSec_mn_cntr table {
    width: 100% !important;
    font-size: 12.5px;
    text-align: center;
}
.inspopSec_mn_cntr table th {
    background-color: #a0a0a0;
    padding: 12px;
    font-size: 15px;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    border-right: 2px solid white;
}
.inspopSec_mn_cntr_table {
    background: #f8f8f8;
    padding:0px !important;
    overflow-y: scroll;
    max-height: 400px;
}
table.table.table-bordered td {
    padding: 8px 0px;
}
table.table.table-bordered tr:nth-child(even) {
    background-color:#e8e8e8;
}
.table.table.table-bordered th {
    background-color: #a0a0a0;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
}


.example-box {
    border: solid 1px #ccc;
    border-radius: 4px;
    z-index: 999;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .srch-draggable-box {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 15px 8px 8px;
  }

  .drgSInC {
      background-color: white;
      padding: 15px;
      border-radius: 2px;
  }
  .drgSInC mat-icon {
      color: gray;
  }
  .inP::-webkit-input-placeholder {
      font-size: 16px;
  }
  .hPF {
      padding: 0px 5px;
  }
  .ps-r-t-3 {
      position: relative;
      top: 2px;
  }
  .mat-datatable-contnr {
    height: 409px;
    overflow: scroll;
    border-radius: 3px;
}
.mat-spinner-center, .no-data-available {
    position: absolute;
    z-index: 99;
    top: 51.9%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.mat-header-cell {
    text-align: center;
    background-color: #a0a0a0;
    color: white;
}

tr.mat-footer-row, tr.mat-row{
    height: 30px !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 10px !important;
}