<div class="btn-cntnr-srch-flds cmn-mrt-clas">
    <button class="icn-btn" (click)="goBack();" [disabled]="_global.elementDisabled"><i class="material-icons">
        keyboard_backspace
     </i></button>
    <button class="icn-btn" (click)="addeventmodel();" [disabled]="_global.elementDisabled"><i class="material-icons">
    save
  </i></button>
    <button class="icn-btn" (click)="deleteeventmodel();" [disabled]="_global.elementDisabled"><i class="material-icons">
    delete
  </i></button>

  <button style = "width: auto; padding: 0px 10px; font-size: 14px;" (click) = "recalcModel()" [disabled]="_global.elementDisabled" > Recalc Model</button>
 

    
</div>
<div class="srch-br-cntnr">
    <!-- <h4>Event Model Information</h4> -->

    <div class="form-group">
        <div style="margin-bottom: 10px;">
            <label>Model Name</label>:
            <span *ngIf="type=='update'">{{modelName}}</span>
            <div *ngIf="type=='copy'" style="display: inline;">
                <input style="font-size: 14px;" type="text" name="modelName" [(ngModel)]="copyModelName" required />
                <div [hidden]="!check" class="invalid-feedback">
                    <div style="color:red;">Model Name is required</div>
                </div>
            </div>
    </div>
         <mat-expansion-panel class="mat_expension_main_container" [expanded]="type=='copy'?true:false">
            <mat-expansion-panel-header [collapsedHeight]="'23px'" [expandedHeight]="'23px'"> Match Criteria </mat-expansion-panel-header>

            <div style="margin-top:10px">
                <ng-template matExpansionPanelContent>
                    <jqxGrid #modelGrid [width]="700" [height]="205" [source]="modelDataListAdapter" [columns]="modelcolumns" [editable]="type=='copy'" [columnsresize]="true" [showtoolbar]="true" [rendertoolbar]="type!='update'?rendertoolbarMatchCriteria:''" [selectionmode]="'multiplecellsadvanced'">
                    </jqxGrid>
                </ng-template>
            </div>
        </mat-expansion-panel>


    </div>
</div>
<div class="table-container">
    <h4>Event Model Details</h4>
    <div class="form-group">

        <jqxGrid #modelGridList class="jqxw-start" [source]="modeldataAdapter" [columns]="columns" [columnsresize]="true"
        [altrows]="true" [enabletooltips]="false" [scrollmode]="'virtual'" [theme]='"white"' [selectionmode]="'multiplecellsadvanced'" [editable]="true" [altrows]="false" [width]="750" [height]="450"
        (onCellendedit)="Cellunselect($event)" (onCellvaluechanged)="cellValueChanged($event)" [showtoolbar]="true"
        [rendertoolbar]="rendertoolbar" (onCellbeginedit)="onCellBeginEdit($event)">
    </jqxGrid>

    </div>
</div>


<!--lookoup popup-->
<div>
   <app-dialog class="fixPopoup fabricContMatPop" [(visible)]="showEventModelPopoup">
       

        <div>
            <div style="width: 100%;margin-bottom: 15px;">
                <input style = "width: 70%; padding: 7px;" type="text" placeholder="Search" (keyup)="applyFilter($event)">
            </div>
           
         <div class="mat-datatable-contnr" style="position: relative;">

           <div *ngIf = "showNodataLayout" class="no-data-available">No Data Available</div>
           <table mat-table [dataSource]="dataSource">
           <ng-container matColumnDef="{{data}}" *ngFor = "let data of displayedColumns; let i=index">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> {{eventLabel.eventLabel[i]}} </th>
               <td mat-cell *matCellDef="let row"><a href="javascript:void(0)" (click)="onPopupSelect(row)">{{row[data]}}</a> </td>
           </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;">
             </tr>
           </table>


         </div>
        
      </div>


   </app-dialog>


</div>
<!--end-->