<div class="mn-page-head-container">
  <div class="header-main-container-ap">
      <button routerLink="/user/create-role" >
        NEW</button>
      <button   class="event-code-new"  (click)="updateRole()">
        UPDATE</button>
      <button   class="event-code-new" (click)="deleteRole()">
       DELETE</button>
    </div>
    <div class="content-section-main-container-ap">
      <form #f="ngForm" (ngSubmit)="getroleName()">
         <div class="fields-main-container-ap">
                <mat-expansion-panel [expanded]="true" class="mat_expension_main_container">
                    <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
                      Search Fields
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="mat_expension_child_fields_main_container">
                          <div class="inpt-flds-cmn-cntnr">
                                <label style="min-width: 80px;">Role Name</label>
                                <select name="roleOperator" id="roleOperator"  [(ngModel)]="searchOperatorRole.searchOperator"
                                    (change)="onChange($event)">
                                  <option [value]="roleOperator.value" *ngFor="let roleOperator of roleOperators">{{roleOperator.label}}</option>
                                </select>
                                <input type="text" class="cmn-cls-input-fld-srch" id="roleName" name="roleName" 
                                   [(ngModel)]="roles.roleName" #RoleName="ngModel" />
                            </div>
                            <div class="inpt-flds-cmn-cntnr">
                                <label  style="min-width: 80px;">Disable Role</label>
                                <div class="defult-view-cntr-user">
                                    <input type="checkbox"  id="roleDisable" >
                                    <label for="roleDisable" style="min-width:0px;"></label>
                                  </div>
                            </div>
                          <div class="search_fields_button_container">
                            <button type="submit" (click)="getroleName()" >Search</button>
                            <button (click)="resetForm()" type="reset">Reset</button>
                          </div>
                        </div>
                     </ng-template>
                  </mat-expansion-panel>
           </div>
        </form>
        <div class="jqx-grid-main-container">
            <jqxGrid #roleGrid class="jqxw-start" [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
              [altrows]="true" [enabletooltips]="false" (onCellendedit) = "cellendeditrole($event)" [scrollmode]="'virtual'" [theme]='"white"' [pagesize]="100"
              [selectionmode]="'multiplecellsadvanced'" [editable]="true" [altrows]="false" [handlekeyboardnavigation]="handlekeyboardnavigation"
              [width]="500" [height]="450" >
            </jqxGrid>
          </div>
    </div>  
</div>

