﻿/* You can add global styles to this file, and also import other style files */
/* select {
    outline: none !important;
} */
html, body {
    font-family: "Open Sans",Arial,Arial Unicode MS,sans-serif;
}
.popup>div:first-child {
    max-width: 995px !important;
    position: absolute;
}
.content {
    margin-left: 230px;
    margin-top: 70px;
}
.jqwidget-grid-parent {
    margin: 20px 24px 10px 30px
}
.jqx-grid-cell-alt {
    background:#fff;
}
.jqx-grid-column-header>div>div {
    text-align: center !important;
}
.jqx-widget-header {
    background: #f9f9f9;
}

.jqx-listbox .jqx-fill-state-pressed {
    background: #d1d1d1 !important;
}
.jqx-grid-cell {
    font-size: 12px;
}
.jqx-grid-column-header {
    font-size: 13px;
}
.jqx-grid-cell-left-align {
    margin-top: 5px !important;
    margin-left: 10px;
}
.dialog .jqx-fill-state-normal {
    border-color: rgba(0,0,0,.1);
    background: #f9f9f9;
}

.dialog  .jqx-widget-content {
    border: 0px;
    background: none;
}

.jqx-grid-cell.jqx-fill-state-pressed {
    background: #d1d1d1 !important;
}

.mat-expansion-panel {
    border-radius: 5px;

}
.mat-expansion-panel-header{
    border-radius: 5px;
    background-color:#f9f9f9 !important;
    position: relative;
}
.mat-expansion-panel-header:focus {
    background-color:#f9f9f9 !important;
}
.mat-expansion-indicator {
    position: absolute;
    top: -4px;
    left: 10px;
}
.mat-expanded .mat-expansion-indicator {
    top: 2px;
}
.reduce-margin-left {
    margin-left: 50px !important;
}
#addNewRowBtn {
    height: 27px !important;
    border: none !important;
    background: #d8d8d8;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 30%;
    top: 0;
    width: 40%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.editable-cell-bg {
    background-color: rgba(50, 120, 215, .2) !important;;

}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.editable-cell-gray {
    background-color: lightyellow;
}
/*.editable-cell-pink div {
    background-color: #ff69b4 !important;
}*/ 
.jqx-grid-cell.editable-cell-pink {
    background-color: #ff69b4 !important;
} 
.jqx-grid-cell.editable-cell-red {
  background-color: red !important;
}
.jqx-grid-cell.editable-cell-yl {
  background-color: yellow !important;
}
input[type="button"], button {
    outline: none !important;
}

button:hover {
    color:red;
}

.mat-content {
    font-size: 13px !important;
}
.mydp {
    border-radius: 0 !important;
}
.mydp .selector {
    z-index: 1000 !important;
}
.mydp .selection {
    font-family: "Open Sans",Arial,Arial Unicode MS,sans-serif !important;
    font-size: 12px !important;
}
.mydp {
    width: 162px;
    border: 1px solid #a7a7a7 !important;
    height: 18px;
}
.mydatecontainer .mydp {
    height: unset !important;
    max-width: 250px;
}
.mydatecontainer.mydp .selection {
color: #000;
}
.mydatecontainer .mydp .selection {
   height: 27px !important;
}
.mydatecontainer  .mydp .selbtngroup {
    height: 29px !important;
}
.mydp .btnpicker {
    width: 18px;
}
.fa-paperclip, .fa-remove {
    cursor: pointer;
}
.btn-default {
    background-image: none !important;
    background-color: #f9f9f9;
}
.btn {
    font-size: 13px;
    font-weight: 600;
    
}
.text-muted {
    color: black !important;
}
.ui-select-choices-row a div {
 font-size: 12px !important;
 font-weight: 600;
}
.event-code-alignment {
    margin-left: 15px;
    margin-top: 6px;
}
/** multiple availbale view css **/

.multiple_role_select .open>.dropdown-menu {
    display: block;
}
.multiple_role_select .ui-select-match-item span {
    margin-right: 6px !important;
    vertical-align: text-bottom !important;
    font-size: 12px;
}
.multiple_role_select .close {
    position: unset !important;
    opacity: 1;
    line-height: 22px !important;
    font-size: 1.5em !important;
    margin-right: 4px !important;
} 
.multiple_role_select .btn {
    font-weight: 400 !important;
}
   
/** multiple available view css ends here**/ 
/**new available view css **/
.ng_available_view_cntnr .dropdown, .ng_available_view_cntnr .dropup, .multiple_role_select .dropdown, .multiple_role_select .dropup {
    position: relative;
}
.ng_available_view_cntnr .form-control,.multiple_role_select .form-control {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ng_available_view_cntnr .open>.dropdown-menu {
    display: block;
}
.ng_available_view_cntnr .btn-xs {
    margin-top: -2px !important;
   }
.ng_available_view_cntnr .btn-xs {
       display: none;
}
.multiple_role_select .btn-default {
    background-color:unset !important;
  }
.ng_available_view_cntnr .dropdown-menu, .multiple_role_select .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.ng_available_view_cntnr .pull-right {
    float: right!important;
}
.ng_available_view_cntnr .btn .caret {
    margin-left: 0;
}
.ng_available_view_cntnr .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.ng_available_view_cntnr .ui-select-toggle {
    cursor: pointer;
}
.multiple_role_select .form-control {
    border: 1px solid #9d9999;
    border-radius:0px;
    box-shadow: none;
}
/**new available view css ends **/
.jqx-grid-columngroup-header {
 z-index: 400 !important;
}
#searchFieldDivCont select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    text-indent: 1px !important;
    text-overflow: '' !important;
}
.dsp-flx-jc-sb {
    display: flex;
    justify-content: space-between;
}
.excelUiValPop .dialog {
    max-width: 1100px !important;
}
.m-t-20 {
    margin-top: 20px;
}

.smartTagPop .dialog {
    max-width: 350px !important;
}

.absolPopup>div:first-child {
    position: absolute;
}