

.mn-page-head-container {
    padding: 0px 40px;
    width: 800px;
  }
.header-main-container-ap {
margin-bottom: 20px;

}
.content-header-text-main-container {
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}
.fields-main-container-ap>div {
      margin-bottom:5px;
}

.multiple_role_select {
   display: inline-block;
}
button {
      background-color: #f9f9f9;
      padding: 3px 10px;
      border: 1px solid #adadad;
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 15px !important;
}
.jqx-grid-main-container {
   margin-top: 20px;
}

/**extra css **/
.mat_expension_main_container {
 width: 500px;
}
.mat_expension_child_fields_main_container {
  padding: 15px;
}
.inpt-flds-cmn-cntnr label{
    font-size: 14px;
    margin-right: 20px;
}
.inpt-flds-cmn-cntnr input {
    font-size: 13.5px;
    height: 14px;
}
.inpt-flds-cmn-cntnr select {
    font-size: 14px;
    margin-right: 10px;
}
.search_fields_button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
