<div class="mn-page-head-container">
        <div class="header-main-container-ap">
                <button routerLink="/event/event-model-details/copy/new" [disabled]="_global.elementDisabled">New</button>
        </div>
         <div class="content-section-main-container-ap">
           <form #f="ngForm">
              <div class="fields-main-container-ap">
                     <mat-expansion-panel [expanded]="true" class="mat_expension_main_container">
                         <mat-expansion-panel-header [collapsedHeight]="'22px'" [expandedHeight]="'22px'">
                           Search Fields
                         </mat-expansion-panel-header>
                         <ng-template matExpansionPanelContent>
                           <div class="mat_expension_child_fields_main_container">
                               <div class="inpt-flds-cmn-cntnr">
                                    <label>Model Name</label>
                                    <select  name="modeloperator" id="modeloperator" [disabled]="_global.elementDisabled" (change)="onChange($event)" >
                                        <option [value]="modelOperator.value" *ngFor="let modelOperator of modelOperators">{{modelOperator.label}}</option>
                                    </select>
                                    <input type="text" id="modelName" name="modelName" [disabled]="_global.elementDisabled" [(ngModel)]="model.modelName" #modelName="ngModel"
                                    (change)="setFilterValue($event)" />
                                 </div>
                               <div class="search_fields_button_container">
                                    <button (click)="getModelNames()" [disabled]="_global.elementDisabled">Search</button>
                                    <button type="reset" (click)="resetForm()" [disabled]="_global.elementDisabled">Reset</button>
                               </div>
                             </div>
                          </ng-template>
                       </mat-expansion-panel>
                </div>
             </form>
             <div class="jqx-grid-main-container">
                    <jqxGrid #eventsGrid class="jqxw-start" [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
                    [altrows]="true" [enabletooltips]="false" [scrollmode]="'virtual'" [theme]='"white"' [selectionmode]="'multiplecellsadvanced'"
                    [handlekeyboardnavigation]="handlekeyboardnavigation" [editable]="true" [altrows]="false" [width]="500"
                    [height]="450" [disabled]="_global.elementDisabled">
                   </jqxGrid>
               </div>
         </div>  
   </div>
   